.fixed-top
    .s-about_top-container
        position: fixed
        top: 0
        left: 0
        right: 0
        background: #FFFFFF
        z-index: 10
        border-bottom: 1px solid #CACCD2
        .container
            visibility: show
    .mobile-nav__item
        position: fixed
        top: 0
        left: 0
        right: 0
        background: #FFFFFF
        z-index: 10
        border-bottom: 1px solid #CACCD2
.s-title
    font-weight: 900
    font-size: 48px
    margin-bottom: 80px
    img
        transition: all 0.15s ease-in-out
        margin-left: 15px
        vertical-align: baseline
        margin-bottom: -5px
    span
        color: $red
    a
        &:hover
            color: $redh
            img
                transform: rotate(45deg) translate(0, 4px)


.link
    color: $red
    &:hover
        color: $redh

.slick-dots
    font-size: 0
    li
        display: inline-block
        margin-right: 18px
        &:last-child
            margin-right: 0
    .slick-active
        button
            background: #EC2227
            width: 55px
    button
        border: none
        padding: 0
        background: #CACCD2
        border-radius: 10px
        font-size: 0
        text-indent: -999px
        width: 9px
        height: 9px

.slick-arrow
    width: 60px
    height: 60px
    border-radius: 100%
    background-color: #FFFFFF
    position: absolute
    right: 90px
    bottom: 100%
    border: none
    padding: 0
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 75px
    svg
        fill: #000
    &:hover
        background-color: $red
        svg
            fill: #fff
    &.slick-prev
        svg
            margin-right: 2px
    &.slick-next
        right: 0
        &:hover
            &::after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                border-radius: 100%
                border: 2px solid #fff
                transform: scale(1.015)
        svg
            margin-left: 1px
        &:hover
            &::before
                width: 62px
                top: -1px
                height: 62px
                border: 4px solid #fff

.slider-timer-b
    border: 2px solid #F7F8FB
    width: calc( 100% + 10px )
    height: calc( 100% + 10px )
    top: -5px
    right: -5px
    display: flex
    align-items: center
    justify-content: center
    z-index: 1
.slider-timer,
.slider-timer-b
    position: absolute
    border-radius: 50%
    font-size: 0
.slider-timer
    background: #F7F8FB
    overflow: hidden
    z-index: -2
    width: calc( 100% + 8px )
    height: calc( 100% + 8px )
    top: -4px
    right: -4px
    &::before,
    &::after
        content: ''
        display: block
        background: $red
        width: 53%
        height: 106%
        top: -3%
        left: -3%
        position: absolute
        transition: none!important
        z-index: 2
    &::before
        background: #F7F8FB
        // animation: rotate-mask-l 6s infinite linear
    &::after
        left: 50%
        visibility: hidden
        // animation: rotate-mask-r 6s infinite linear
    &__line
        position: absolute
        width: 100%
        height: 100%
        top: 0%
        left: 0%
        // animation: rotate-sl-timer 6s infinite linear
        border-radius: 50%
        overflow: hidden
    &__left,
    &__right
        content: ''
        display: block
        position: absolute
        width: 50%
        height: 100%
        left: 0%
        top: 0%
    &__left
        background: $red
    &__right
        left: 50%
        // background: #000

.slick-list
    & + .slick-arrow
        .slider-timer
            &::before
                animation: rotate-mask-l 6s infinite linear
            &::after
                animation: rotate-mask-r 6s infinite linear
            &__line
                animation: rotate-sl-timer 6s infinite linear
    &:hover
        & + .slick-arrow
            .slider-timer
                &::before,
                &::after,
                &__line
                    animation: unset

@keyframes rotate-sl-timer
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)

@keyframes rotate-mask-l
    0%
        visibility: visible
    50%,
    100%
        visibility: hidden

@keyframes rotate-mask-r
    0%,
    49%
        visibility: hidden
    50%,
    100%
        visibility: visible

.slider-arr-grey
    .slider-timer-b
        border-color: #fff
    .slider-timer,
    .slider-timer::before
        background: #ffffff
    .slick-arrow:not(:hover)
        background: $dwh

.player-frame
    width: 100%
    height: 100%
.video-player
    position: relative
    &__time
        border-radius: 8px
        height: 22px
        padding: 0 8px
        line-height: 22px
        background: rgba(0,0,0,0.4)
        font-size: 14px
        color: #ffffff
        position: absolute
        bottom: 20px
        right: 20px
        z-index: 3
    &__placeholder
        height: 100%
        position: relative
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        cursor: pointer
        width: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
        &::before
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 50%
            width: 120px
            height: 120px
            background: url('../img/play.svg') no-repeat center
            transform: translate(-50%, -50%)
            z-index: 2
        &::after
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(3.62deg, #212227 2.17%, rgba(0, 0, 0, 0) 96.4%)
            opacity: 0.8
        &:hover
            &::before
                opacity: 0.9

.input-file
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    background: #F7F8FB
    border-radius: 6px
    font-size: 12px
    width: 100%
    padding: 10px 20px
    cursor: pointer

    input
        display: none
    &__name
        color: #CACCD2
        &.active
            color: #000000
    &__text
        display: flex
        align-items: center
        color: #000000
        img
            margin-right: 10px

.check-label
    display: flex
    align-items: center
    padding-left: 44px
    position: relative
    min-height: 24px
    font-size: 12px
    line-height: 1.5
    input
        display: none
        &:checked
            & + .checked
                border-color: $red
                background: $red
                svg
                    opacity: 1
    .checked
        position: absolute
        width: 24px
        height: 24px
        border: 2px solid #CACCD2
        display: flex
        align-items: center
        justify-content: center
        top: 50%
        left: 0
        margin-top: -12px
        svg
            opacity: 0

.animation-delay-none
    animation-delay: 0s !important
.hidden
    display: none
    
.select-filter
    background: #ffffff
    position: relative
    z-index: 6
    &__title
        position: relative
        padding-right: 42px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        width: 100%
        height: 100%
        padding-left: 25px
        font-size: 22px
        cursor: pointer
        &::after
            content: ''
            display: block
            position: absolute
            top: 50%
            right: 25px
            width: 18px
            height: 12px
            margin-top: -6px
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.250042 2.62049C0.25094 2.85623 0.299457 3.08935 0.392681 3.30587C0.485904 3.52239 0.621912 3.71784 0.792539 3.88049L7.79254 10.6355C8.11967 10.9561 8.55947 11.1357 9.01754 11.1357C9.47561 11.1357 9.91542 10.9561 10.2425 10.6355L17.2425 3.63549C17.4057 3.47233 17.5351 3.27862 17.6234 3.06543C17.7118 2.85224 17.7572 2.62375 17.7572 2.39299C17.7572 2.16224 17.7118 1.93374 17.6234 1.72056C17.5351 1.50737 17.4057 1.31366 17.2425 1.15049C17.0794 0.987326 16.8857 0.857894 16.6725 0.769589C16.4593 0.681283 16.2308 0.635832 16 0.635832C15.7693 0.635832 15.5408 0.681283 15.3276 0.769589C15.1144 0.857894 14.9207 0.987326 14.7575 1.15049L9.00004 6.92549L3.22504 1.36049C2.89715 1.03455 2.45362 0.851607 1.99129 0.851607C1.52897 0.851607 1.08543 1.03455 0.757543 1.36049C0.593242 1.52609 0.463707 1.72286 0.376552 1.93924C0.289398 2.15563 0.246385 2.38725 0.250042 2.62049Z' fill='%234C5258'/%3E%3C/svg%3E%0A")
    &__body
        position: absolute
        top: 100%
        left: 0
        width: 100%
        border-radius: 0 0 8px 8px
        padding: 30px 0
        z-index: 6
        border: 1px solid #CACCD2
        border-top: none
        border-radius: 0 0 8px 8px
        background: #ffffff
        display: none
    &__item
        padding: 1px 30px
        font-size: 22px
        line-height: 1.5
        cursor: pointer
        &:hover
            background: $dwh

@media screen and (max-width: 1600px )
    .s-title
        font-size: 42px
        margin-bottom: 40px
    .slick-arrow
        margin-bottom: 40px
    .video-player__placeholder::before
        width: 90px
        height: 90px
        background-size: 100% 100%

@media screen and (max-width: 1199px )
    body
        font-size: 14px
    .video-player__placeholder::before
        width: 70px
        height: 70px

@media screen and (max-width: 950px )
    .s-title
        font-size: 36px

@media screen and (max-width: 750px )
    .slick-arrow
        margin-bottom: 0
        bottom: 0
        left: 0
    .slick-next
        left: 90px
    .s-title
        img
            width: 36px
    .input-file
        justify-content: flex-start
        &__name
            font-size: 0
            color: #000000
            &.active
                font-size: 12px
                &::before
                    content: ''
            &::before
                content: 'Выберите или перетащите файл (.excel, .docx, .pdf)'
                font-size: 12px
        &__text
            font-size: 0
@media screen and (max-width: 550px )
    .slick-dots
        text-align: center

@media screen and (max-width: 450px )
    .s-title
        font-size: 34px
        img
            width: 32px
            margin-left: 7px
    .slick-arrow
        width: 40px
        height: 40px
    .slick-next
        left: 60px
    .slick-dots
        li
            margin-right: 10px
        button
            width: 6px
            height: 6px
        .slick-active
            button
                width: 43px
    .video-player__placeholder::before
        width: 60px
        height: 60px
    .check-label
        padding-left: 40px

@media screen and (max-width: 360px )
    .s-title
        font-size: 30px
        img
            width: 30px
