@media screen and (max-width: 950px )
    .s-clients--partner
        .clients-slider
            width: calc( 100% + 20px )
    .s-banners.partner-page
        overflow: hidden
    .s-control.partner-page
        .s-control_block
            height: 155px
    .s-control--partner
        .s-control_block
            margin-right: 0 !important
    .s-control--gru
        padding-top: 60px
        padding-bottom: 80px
        .s-title
            font-size: 28px
            line-height: 34px
        .s-control__subtitle
            font-size: 16px
            line-height: 21px
            margin-bottom: 40px
        .s-control_desc, .s-control__text
            font-size: 14px
            line-height: 21px
        .s-control_list
            margin-bottom: 40px
    .service-item
        margin-right: 0
        flex-basis: 100%
    .step__item
        &:last-child
            display: none
    .how-tobe
        a
            width: 100%
        h3
            br
                display: none
    .line
        width: 75%
        margin: 0
        &::after
            background-image: none
    .privileges
        flex-basis: 100%
        margin-bottom: 20px
        &:nth-child(odd)
            margin-right: 0
    .main-ban--waf
        background-position: calc((100vw - 750px) * (-284 + 375) / (950 - 750) - 375px) 25px
        background-size: auto 550px
        .main-ban__text
            padding-top: 430px
    .main-ban--reseller
        background-size: auto 550px
        background-position: calc((100vw - 750px) * (-284 + 375) / (950 - 750) - 375px) -30px
        .main-ban__text
            padding-top: 491px
            p
                padding-right: 0
    .main-ban--partner
        background-size: auto 550px
        background-position: calc((100vw - 750px) * (-284 + 375) / (950 - 750) - 375px) -30px
        .main-ban__text
            padding-top: 400px
            p
                padding-right: 0
    .main-ban--datacenter
        background-size: auto 650px
        background-position: calc((100vw - 750px) * (-112 + 212) / (950 - 750) - 212px) 0px
        background-repeat: no-repeat
        background-color: #F7F8FB
        .main-ban__text
            margin-top: 250px
            margin-bottom: 0
    .main-ban--gru
        background-position: 95% 54%
        background-size: 24%
        h1
            width: 390px
    .special-section--reseller
        .special__slogan
            bottom: 21px
    .s-futures_item
        justify-content: flex-start
        height: 100px
    .b-advantages_text
        margin-top: 0
    .s-components__list
        flex-wrap: wrap
    .s-components__item
        margin: 0 10px 7px
    .s-about
        .mobile-nav__title
            padding: 0
            img
                margin-right: 15px
    .main-ban_tabs
        margin-bottom: 185px
    .main-ban
        &__text
            width: 500px
            max-width: 100%
        p
            font-size: 17px
    .s-test
        &_title
            font-size: 18px
        .btn
            width: 280px
    .s-control
        &_block
            flex-basis: 100%
            margin-bottom: 10px
            width: 100%
            &:first-child
                margin-right: 0
    .banner-slider
        .banner-slider__item
            height: 300px
        &__item
            h2
                max-width: 450px
                height: 160px
            p
                font-size: 18px

            &--agent
                height: 375px
                background-size: 100% 216px
                background-position: center bottom
                background-color: #F7F8FB
                margin-bottom: 20px
                padding-top: 30px !important
                padding-right: 27px !important

                h2
                    font-size: 14px !important
                    line-height: 150% !important
                    max-width: none !important

                p
                    font-size: 22px !important
                    line-height: 26px !important

                span
                    font-weight: 900
                    color: #EC2227

            &--profit
                height: 400px
                background-size: 295px 200px
                background-position: center 180px

    .s-clients
        padding-bottom: 65px
    .subscribe-form
        &__types
            width: 100%
            br
                content: ' '
                display: inline
        &__inputs
            padding-top: 20px
            input
                width: 240px
                height: 60px
                padding-left: 15px
            .btn
                height: 60px
            .error-text
                left: 15px
                font-size: 12px
                margin-top: 2px
    .banner-slider__item
        padding: 15px
        margin-right: 20px

        .s-banners--agent &
            margin-right: 0

    .s-scenario_list
        flex-wrap: wrap
    .s-scenario_list__item
        flex-basis: 100%

    .s-features_list, .s-config_list
        flex-wrap: wrap

    .s-features_list__block
        flex-basis: 100%
    .s-config_block
        flex-basis: 100%
    .btn-accordion, .s-control_text
        font-size: 20px
        line-height: 25px
    .popular-services .warning_text
        font-size: 15px
        line-height: 1
    .s-scenario .s-scenario_list__item___desc
        max-height: 0
        overflow: hidden
        transition: all .3s
    .s-scenario_list__item___title
        margin-bottom: 0
        background-color: #F7F8FB
        position: relative
        &::after
            content: ''
            position: absolute
            right: 20px
            bottom: 20px
            width: 16px
            height: 16px
            background-image: url('../img/eva_chevron-left-outline.png')
            background-repeat: no-repeat
            background-size: contain
    .s-scenario_list__item___title.active
        margin-bottom: 40px
        &::after
            background-image: url('../img/eva_chevron-left-outli1ne.png')
    .s-scenario_list__item
        margin-bottom: 20px
    .main-ban_tabs__block
        -ms-overflow-style: none
        overflow: -moz-scrollbars-none
        &::-webkit-scrollbar
            width: 0
    .s-about_top
        display: none
    .s-about
        .mobile-nav__item
            display: block
    .s-about_title
        margin-bottom: 20px
        font-size: 28px
    .s-about_text
        font-size: 20px
        line-height: 1.3
    .s-about_content
        padding: 60px 0
    .s-title
        font-size: 34px
    .s-banners
        padding-top: 60px
        padding-bottom: 60px

        &--agent
           padding-top: 0 !important

           .s-banners__description
                font-size: 18px
                line-height: 130%
                margin-top: -17px
                margin-bottom: 40px

    .s-scenario_subtitle
        margin-bottom: 40px
        font-size: 18px
    .s-config_block, .s-features_list__block
        margin-right: 0
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
    .special
        display: block
        margin-top: 66px
        padding: 0 20px 29px
        height: auto
    .special__wrapper
        padding: 0
    .special__image-wrap
        margin: 0 -20px 27px
    .special__logo
        bottom: 63px
        left: -32px
    .special__slogan
        bottom: -16px
        left: 40px
        font-size: 12px !important
        line-height: 150% !important
        &::before
            top: 1px
            left: -19px
            width: 10px
            height: 14px
    .special__date
        font-weight: 700
        font-size: 12px
        line-height: 150%
        border-radius: 100px
        padding: 0px 7px
        margin-bottom: 20px
    .special__title
        font-weight: 900
        font-size: 20px
        line-height: 24px
        margin-bottom: 20px
    .special__description
        font-size: 12px !important
        line-height: 150% !important
        padding-bottom: 30px !important
    .special__image-wrap
        height: auto
    .special__image
        width: 100%
    .s-control--agent
        padding-top: 60px !important
        .s-control_list
            display: block
            margin-top: 0
        .s-control_block
            margin-right: 0
    .s-banners--agent .banner
        display: block
    .banner-slider__item--agent
        margin-right: 0
        background-size: auto
        background-position: right bottom
    .banner-slider__item--cmk
        margin-right: 0
        background-size: auto
        background-position: right bottom
    .s-commerce__list
        display: block
    .s-commerce__item
        margin-right: 0
    .breadcrumbs--agent
        padding-bottom: 510px
    .s-control--agent .s-control_block
        height: auto
    .s-commerce__title
        background-size: cover
    .s-available-service__list
        display: block
    .s-available-service__item
        margin-right: 0 !important
    .s-available-service__hidden
        display: none
    .s-ask_block--available-service
        display: block
    .s-commerce
        margin-top: 0
    .main-ban--agent
        background-position: calc((100vw - 751px) * (-430 + 556) / (950 - 751) - 556px) -27px
        background-size: auto 600px
    .s-commerce__value
        min-height: auto
    .s-configurator__cart
        padding: 68px 50px 40px
    .s-configurator .btn
        width: 305px
    .s-control--cmk .s-control_block
        flex-basis: 100%
        margin-right: 0 !important
        height: 110px
    .banner-slider__item--cmk
        margin-bottom: 20px
        height: 400px
    .s-commerce--cmk .s-commerce__element
        padding-right: 10px
    .s-commerce--cmk .s-commerce__preview
        padding-right: 0
    .s-about--cmk .mobile-nav__title
        padding-left: 30px
    .breadcrumbs--cmk
        padding-bottom: 541px
    .main-ban--cmk
        background-size: auto 550px
        background-position-y: -13px
        background-position-x: calc((100vw - 751px) * (-390 + 520) / (950 - 751) - 520px)
        .main-ban__text
            margin-top: -115px
    .s-banners--cmk
        padding-top: 60px !important
    .main-ban--self-service
        background-size: auto 650px
        background-position: -735px 20px
    .s-self-managed_list
        flex-wrap: wrap
    .s-self-managed_block
        flex-basis: 100%
        margin-right: 0
        margin-bottom: 20px
    .s-self-managed_desc
        min-height: 142px
    .s-hosting_block
        flex-basis: 100%
        margin-right: 0
        background-position: right center
        background-size: auto 100%
    .s-hosting_desc
        padding-right: 250px
    .s-tarification_list
        flex-wrap: wrap
    .s-tarification_block
        width: 100%
        margin-bottom: 40px
    .s-graphics__btn
        display: block
    .advantages
        padding: 80px 0
        .advantages__item
            flex-basis: 100% !important
            margin-right: 0 !important
        .advantages__list
            flex-direction: column
            .advantages__item--bg1
                margin-bottom: 20px
            .advantages__item--bg1:before
                left: 74%
                top: 20%
            .advantages__item--bg2:before
                left: 73%
                top: 59%
    .d-payment
        &_block
            flex-basis: 100%
            margin-bottom: 10px
            width: 100%
            &:first-child
                margin-right: 0
        &_block
            padding: 20px
        &_icon
            height: 35px
            width: 37px
            margin-right: 18px
            img
                object-fit: contain
    .s-futheres
        &_title
            margin-bottom: 40px
        &_row
            flex-direction: column
        &_text
            padding-right: 0
            font-size: 20px
        &_col
            padding-bottom: 50px
            width: 100%
            margin-right: 0
            margin-bottom: 20px
        .btn
            position: relative
            bottom: 0
            width: 100%
    .s-control--waf
        .s-control_block
            flex-basis: 100%
            height: 114px
            margin-right: 0
    .b-storage
        &__info
            font-size: 24px
    .s-futures
        padding: 40px 0
        .s-title
            font-size: 34px
            line-height: 41px
        &_text
            font-size: 18px
            line-height: 130%
            margin-bottom: 40px
        &_item
            width: 100%
            margin-right: 0
            padding: 13px 20px
    .b-advantages
        padding-bottom: 80px
        .s-title
            font-size: 34px
            line-height: 41px
            margin-bottom: 20px
        &_text
            font-size: 18px
            line-height: 130%
            margin-bottom: 40px
        &_item
            width: 100%
            margin-right: 0
            margin-bottom: 20px
            padding: 30px 20px
            display: block
            p
                font-size: 14px
                line-height: 150%
                margin-bottom: 5px
            img
                display: block
                width: 282px
                margin: 0 auto -30px
        &_num
            font-size: 22px
            line-height: 26px
    .s-start
        padding: 40px 0
        .s-title
            font-size: 34px
            line-height: 41px
            margin-bottom: 40px
        &_list
            margin-bottom: 60px
            &:before
                top: 50%
                left: -153px
                width: 310px
                margin-left: 40px
                transform: rotate(90deg)
        &_item
            width: 100%
            display: flex
            justify-content: flex-start
            align-items: center
            margin-bottom: 20px
            &:last-child
                display: none
            p
                margin-top: 0
                margin-left: 20px
        .btn
            width: 100%
    .s-about--marketplace
        .mobile-nav__title
            padding: 0
            img
                margin-right: 15px
    .main-ban--marketplace
        &_tabs
            &__item
                &:hover
                    border: none
                &.active
                    border: none
        .main-ban_tabs
            margin-bottom: 185px
        &__text
            width: 500px
            max-width: 100%
        p
            font-size: 17px
    .breadcrumbs--private
        padding-bottom: 50px
    .s-control--private
        .s-control_block
            width: 100%
            margin: 0
            margin-bottom: 20px
            flex-basis: unset
            &:nth-child(3n)
                margin-right: 0
            &:last-child
                margin-bottom: 0
    .s-pros
        &__block
            margin: 0
            &--item
                width: 100%
                margin: 0
                margin-bottom: 20px
                padding: 29px 42px
                &:nth-last-child(-n+3)
                    margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            &--icon
                width: 50px
                height: 50px
                margin-top: 0
                margin-right: 17px
            &--text
                font-size: 16px
                line-height: 150%
    .s-capabilities
        &__block
            margin: 0
            &--item
                margin: 0
                width: 100%
                margin-bottom: 20px
            &--text
                font-size: 16px
                line-height: 19px
            &--title
                font-size: 18px
                line-height: 22px
                margin-bottom: 17px
    .s-interest
        &__block
            &--interest
                font-size: 50px
                line-height: 60px
                margin-bottom: 13px
            &--item
                width: 100%
                margin-bottom: 18px
                &:last-child
                    margin-bottom: 0
            &--text
                font-size: 30px
                line-height: 36px
    .s-about_content--private
        .s-about_text
            p
                font-size: 14px
                line-height: 20px
    .s-about_content--private
        padding: 60px 0 43px
    .s-control--private
        background-color: #F7F8FB
        padding-bottom: 24px
        .s-title
            margin-bottom: 33px
        .s-control_block
            margin-bottom: 20px
    .s-pros
        padding-top: 20px
    .s-banners--private
        .s-banners__title
            max-height: unset
            height: auto
            margin-bottom: 25px
        .banner-slider__item
            height: 360px
    .s-about--private
        .mobile-nav__item
           background-color: #F7F8FB
    .mobile-link
        display: block
    .main-ban--private
        p
            span
                display: inline
    .power
        .power__title
            font-size: 36px
            line-height: 40.8px
        .power__list
            flex-wrap: wrap
            .power__item + .power__item, .power__item--margin
                margin-bottom: 40px
            .power__item
                width: 100%
                padding: 34px 90px
                margin-right: 0
                .power__item-image
                    margin-top: 0
    .tech-param
        padding: 54px 0
        &__title
            font-size: 36px
            line-height: 41px
            margin-bottom: 56px
        &__block
            flex-basis: 100%
            margin-right: 0
            margin-bottom: 16px
    .events-slider__mts
        display: none
    .main-ban
        &--corp-email
            background-size: 60%
    .s-about_top-container--corp-email
        height: 0
    .special--corp-email
        margin-top: 0
    .special-section--corp-email
        padding-top: 60px

    .d-excellence
        padding: 0
        padding-bottom: 60px
        margin-top: 60px
        h2
            line-height: 33.6px
            margin-bottom: 44px
        &__item
            padding: 30px 20px
            flex-basis: 100%
            margin-bottom: 20px
            margin-right: 0
            display: flex
            min-height: 104px
            p
                display: block
                width: 100%
                margin-left: 0
                font-size: 14px
                line-height: 21px
        .s-title
            max-width: 550px

    .v-numbers
        .v-numbers_row
            flex-direction: column
            margin-top: 80px
            margin-bottom: 60px
            .v-numbers_item:nth-child(1)
                margin-right: 0
                margin-bottom: 40px
            .v-numbers_item
                padding: 30px
                &-title
                    font-size: 34px
                &-text
                    font-size: 14px
    .fixed-top 
        .s-about_top-container.remote-work
            display: none
            .container
                display: none
    .s-about_top-container.remote-work
            display: none
            .container
                display: none
    .s-control.cloud-service 
        .s-control_block
            margin-right: 18px
    .popular-services.remote-work 
        .popular-services__check
            font-size: 16px
    .form-block__2
        flex-basis: calc(66% - 31px)
    .s-banners.remote-work.virtual-workplace
        .banner-slider__item
            height: 450px
    .cloud-migration_items
        flex-wrap: wrap
    .cloud-migration_item
        flex-basis: calc(50% - 20px)
        margin-right: 40px
        margin-bottom: 40px
        &:nth-child(2n)
            margin-right: 0
        button.btn
            margin-left: 0
    .main-ban.remote-work-bg
        background-size: auto 500px
        background-position-y: -45px
        background-position-x: calc((100vw - 751px) * (-195 + 330) / (950 - 751) - 330px)
        .main-ban__text
            padding-top: 363px
    .remote-workplaces
        .s-control_block
            margin-right: 0 !important
    .get-service
        flex-wrap: wrap
        button.btn
            width: 100%
            margin-bottom: 20px
        div
            width: 100%
            margin-right: 0
    .banner-slider.remote-work
        flex-wrap: wrap
        padding-bottom: 0
        .banner-slider__item
            flex-basis: 100% !important
            background-size: 240px
            margin-right: 0
            margin-bottom: 20px
    .main-ban_tabs--gru
        display: none
    .gru-info
        padding-top: 60px
        padding-bottom: 20px
        h2
            font-size: 28px
            line-height: 34px
        .container
            display: block
        &__text
            width: 100%
            margin-bottom: 20px
            p
                margin-bottom: 40px
                width: 85%
                font-size: 22px
                line-height: 29px
        &__image 
            margin: auto
            width: 40%
            height: auto
        &__wrapper 
            width: 100%
            p
                width: 100%
                font-size: 14px
                line-height: 21px
    .s-excellence--gru
        padding-bottom: 60px
        .s-title
            width: 100%
            font-size: 24px
            line-height: 29px
            margin-bottom: 20px
        .s-excellence__subtitle
            font-size: 16px
            line-height: 130%
            margin-bottom: 42px
            width: 100%
        .s-excellence__item
            flex-basis: 100%
            min-height: 0
            margin-right: 0
            margin-bottom: 20px
            padding: 18px 22px 20px 18px
            display: block
            img
                margin-bottom: 15px
                height: 40px
            p 
                font-size: 14px
                line-height: 150%
                margin-left: 0
    .s-about--gru
        .s-about_content
            padding-bottom: 50px
        .s-title
            font-size: 34px
            line-height: 41px
            margin-bottom: 40px
        .s-about_col
            flex-basis: 100%
            border: none
            padding: 0 16px 30px 0
            margin-right: 0
            span
                font-size: 22px
                line-height: 26px
                margin-bottom: 12px
            p
                font-size: 14px
                line-height: 150%
        .s-about_row
            margin-bottom: 0
    .v-rate--gru
        .s-title
            display: none
            font-size: 28px
            line-height: 34px
            margin-bottom: 22px
            width: 100%
        .v-rate__subtitle
            display: none
            font-size: 16px
            line-height: 130%
            width: 100%
            margin-bottom: 42px
        .s-title--hidden, .v-rate__subtitle--hidden
            display: block
        .v-rate-inner__item
            width: 100%
            margin-right: 0
            margin-bottom: 16px
            &-content
                padding: 26px 20px 8px 20px
            .v-box__title
                font-size: 18px
                line-height: 22px
                margin-bottom: 12px
            .v-rate-inner__text, .content__text--tooltip
                font-size: 16px
                line-height: 150%
                padding-bottom: 16px
                &::before
                    width: 4px
                    height: 4px
                    top: 16px
                    left: -16px
            .v-box__note
                font-size: 14px
                line-height: 130%
            .v-box__price
                font-size: 42px
                line-height: 100%
                margin-right: 9px
            .v-box__content   
                padding: 20px 0 20px 20px
            .v-box
                padding-bottom: 23px
        .v-rate-inner__item-title
            height: 96px
            font-size: 38px
            line-height: 46px
            padding: 25px 0 29px 19px        
        .v-rate-list
            padding-left: 16px
            width: 180px
            margin-bottom: 15px
        .v-rate__title
            font-size: 22px
            line-height: 26px
        .v-data
            width: 100%
            padding: 24px 0 0 0
            border: none
            &__text
                font-size: 14px
                line-height: 130%
                margin-bottom: 12px
                &--title
                    font-size: 18px
                    line-height: 130%
                    width: 315px
    .s-clients--gru
        padding-top: 29px
        .main-ban_tabs
            display: none
        .select-filter
            display: block
            border: 1px solid rgba(202, 204, 210, 0.5)
            border-radius: 8px
            margin-bottom: 29px
            &__title
                font-size: 14px
                line-height: 130%
                padding: 15px 0px 15px 15px
                &::after
                    width: 13.33px 
                    height: 7.5px
                    background-image: url('../img/gru/select-arr.svg')
                    background-size: contain
                    top: 54%
                    right: 14px
            &__body
                border: 1px solid rgba(202, 204, 210, 0.5)
                border-radius: 8px
                padding: 25px 0 0 0
                margin-top: 2px
                box-shadow: 0px 30px 60px rgba(232, 234, 241, 0.7)
            &__item
                font-size: 14px
                line-height: 130%
                padding: 0px 15px 0px 15px
                margin-bottom: 20px
                &:hover
                    background: white
                    color: #EC2227
        .clients-slider
            &__caption
                font-size: 14px
                line-height: 130%
            &__img
                padding-left: 12px
                padding-right: 8px
                height: 116px
                margin-bottom: 19px
            .clients-slider__img:nth-child(2)
                margin-bottom: 19px
        .s-clients__text
            font-size: 14px
            line-height: 150%
    .feedback--gru
        .feedback-slider__name
            font-size: 20px
            line-height: 24px
            margin-bottom: 0
        .feedback-slider__logo
            width: 96.52px
            height: 18.34px
            img
                object-fit: contain
        .feedback-slider__text
            font-size: 12px
            line-height: 150%
            margin-bottom: 0
            padding: 18px 31px 30px 20px
        .feedback-slider__owner
            padding: 31px 20px 30px 20px
    .s-documents--gru
        padding-bottom: 0
        padding-top: 0
        .s-documents_block
            margin-bottom: 0
        .s-documents__text  
            font-size: 16px
            line-height: 130% 
            margin-bottom: 40px
        .s-title
            margin-bottom: 20px 
    .s-about--cmk 
        .mobile-nav__hidden
            li:hover
                color: #EC2227
    .cloud-arch__images
        height: auto
    .d-banners
        padding-top: 60px
        padding-bottom: 80px
        p 
            width: 100%
            margin-bottom: 200px
            font-size: 16px
            line-height: 24px
        &__item
            padding: 30px 36px 20px 30px
            background-position: bottom right
            background-size: auto 50%
        &__title
            padding-right: 20px
        .s-title
            margin-bottom: 40px
    .d-banners__item-mod
        background-image: url('../img/waf/banner3v2.png') !important
        background-size: auto 60%
    .d-banners__item-key
        background-image: url('../img/waf/banner2v2.png') !important
        background-size: auto 60%
    .d-banners__item-horse
        background-image: url('../img/waf/banner1v2.png') !important
        background-size: auto 60%
    .d-services
        padding-bottom: 60px
        &__item
            margin-right: 0
            flex-basis: 100%
            margin-bottom: 40px
            background-size: 50% !important
            &:last-child
                margin-bottom: 0
        p
            margin-bottom: 280px
    .d-structure
        padding: 60px 0
        &_col
            background: #F7F8FB
            margin-right: 0
            flex-basis: 100%
            padding: 0

@media screen and (min-width: 750px) and (max-width: 950px)
    .feedback--gru
        .slick-dots
            display: none !important
    .s-clients--gru
        .slick-arrow
            display: block !important