@media screen and (max-width: 450px )
    .one-one
        .btn
            width: 100%
    .s-control.pt-120
        padding-top: 60px
    .breadcrumbs--waf
        margin-top: 0
    .mb-80
        margin-bottom: 40px !important
    .how-tobe
        padding-top: 6px
        h2
            margin-bottom: 20px
        h3
            font-size: 18px
            line-height: 130%
            margin-bottom: 40px
        .step__item
            width: 100%
            p
                padding-right: 20px
        .line
            left: 30px
            height: 80%
        .btn
            height: 54px
    .s-control.pt-40.pb-114
        padding-bottom: 0
    .main-ban--waf
        padding-bottom: 39px
        .main-ban__text
            padding-top: calc((100vw - 375px) * (355 - 283) / (450 - 375) + 283px) !important
        h1
            padding-bottom: 30px
    .configurator 
        padding: 48px 0 63px
        .btn
            height: 54px
            width: 100%
        .s-title
            text-align: left
            width: 100%
            margin-bottom: 20px
        &__text
            font-size: 16px
            padding-right: 68px
    .d-payment
        &_block
            width: 100%
            max-width: 100%
            margin-bottom: 20px
            &:first-child
                margin-right: 0
        .s-title
            margin-bottom: 41px
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                top: 19%
                left: 71%
            .advantages__item--bg2:before
                top: 57%
                left: 68%
    .slider-one
        padding-bottom: 60px
    .main-ban
        h1
            font-size: 42px
        p
            font-size: 16px
        &__btns
            display: block
        .btn
            width: 100%
            height: 55px
            &:first-child
                margin-bottom: 15px
        &__text--agent
            padding-top: calc((100vw - 375px) * (440 - 325) / (450 - 375) + 325px) !important
        &--gru 
            background-size: auto 275px
            background-position: center 14%
            .main-ban__text--gru
                padding-top: 200px
            p
                width: 80%
    .popular-services
        &__item
            padding: 30px 20px 0
            margin-bottom: 20px
            // &:nth-child(5)
            //     margin-bottom: 40px
            li
                font-size: 14px
                padding-left: 19px
                &::before
                    top: 7px
        .all-services
            height: 55px
            font-size: 14px
            font-weight: 400
            &::after
                width: 14px
                height: 14px
                background: url('../img/arr45-mini.svg') no-repeat center
        &__img
            margin-right: -20px

    .banner-slider
        padding-bottom: 65px
        .banner-slider__item
            display: flex
            justify-content: space-between
            flex-direction: column
        &__item
            padding: 70px 20px 50px
            &::before
                height: 40px
                top: 64%
                width: 95%
            h2
                height: auto
                font-size: 15px
                max-width: 70%
            p
                font-size: 12px
        .slick-dots
            margin-top: 30px
    .clients-slider
        padding-bottom: 50px

    .s-about
        &_text
            font-size: 16px

    .s-features
        &_list
            &__block
                &-icon
                    left: 20px
                    width: 60px
                    height: 60px
                &-bottom
                    min-height: auto
                    padding: 45px 20px 20px 20px
        &_bottom
            margin-top: 0
            padding-bottom: 0
            &-text
                font-size: 10px
    .s-test
        &_title
            font-size: 18px
            padding-bottom: 40px
        .btn
            width: 280px
            height: 55px
    .s-control
        &_block
            width: 100%
            max-width: 100%
            &:first-child
                margin-right: 0
        &--gru
            .s-title
                display: none
            .s-title--hidden
                display: block
                margin-bottom: 20px
            .s-control_block
                margin-bottom: 20px
                padding: 19px 17px 19px 20px
            .s-control_icon
                width: 30px
                height: 30px
                min-width: 30px    
                margin-right: 20px
            .s-control_list
                margin-bottom: 20px
            .s-control__text
                padding-right: 10px
    .events-slider
        &__img
            height: 180px
            &::after
                width: 132px
                height: 30px
                left: 23px
                bottom: 15px
        &__date
            font-size: 12px
            height: 18px
            line-height: 18px
        &__info
            display: block
        &__type
            padding-bottom: 8px
        h3
            font-size: 20px
        &__text
            padding: 20px 20px 30px
    .video-slider
        &__type
            font-size: 12px
            height: 18px
            line-height: 18px
    .events-slider,
    .news-slider
        padding-bottom: 70px
        .slick-arrow
            bottom: -7px
    .s-video,
    .s-clients,
    .s-events,
    .s-news,
    .s-articles
        .s-title
            margin-bottom: 40px
    .slider-one
        &__left
            height: 220px
    .video-slider,
    .articles-slider
        h3
            font-size: 24px
    .banner-slider__item--agent
        background-size: auto 216px
        background-position: right bottom
    .banner-slider__item--cmk
        background-size: auto 216px
        background-position: 20px bottom
    .special__image-wrap
        height: 180px
        .special__image
            object-fit: cover
            height: 100%
    .s-control--agent .s-control_block
        height: 82px
    .s-commerce
        margin-top: 25px
        margin-bottom: 0
    .s-commerce__sum
        margin: 0
        padding: 30px 20px
    .s-commerce__list
        margin-bottom: 39px
    .s-available-service__text
        width: auto
    .s-available-service
        padding-bottom: 21px
    .main-ban--cmk .main-ban__btns
        flex-wrap: wrap
        .btn 
            width: 100%
    .breadcrumbs--cmk
        margin-top: 0
    .main-ban--cmk
        padding-bottom: 43px
    .main-ban--cmk .main-ban__text
        padding-top: calc((100vw - 360px) * (380 - 295) / (450 - 360) + 295px) !important
    .s-about--cmk .mobile-nav__title
        padding: 16px 21px
    .s-about_content--cmk
        padding-top: 38px
        padding-bottom: 12px
    .s-control--cmk
        padding-bottom: 69px
    .s-control--cmk .s-control_desc
        font-size: 12px
        line-height: 120%
    .s-control--cmk .s-control_icon
        min-width: 32px
        width: 32px
        height: 32px
    .s-control--cmk .s-control_list
        padding-top: 0
    .s-control--cmk .s-control_block
        height: 82px
        margin-bottom: 11px
    .s-advantages__subtitle
        font-size: 22px
        line-height: 26px
        height: 92px
        padding-left: 70px
        &::before
            left: 21px
            background-size: contain
            width: 32px
            height: 32px
    .s-advantages__name
        font-size: 14px
    .s-advantages__description
        font-size: 14px
    .s-advantages__list
        padding: 32px 0px 10px 35px
    .s-advantages__item
        padding-left: 4px
        padding-right: 16px
        margin-bottom: 20px
    .s-advantages__group
        margin-bottom: 20px
    .s-commerce--cmk
        margin-top: 80px
        padding-bottom: 18px
    .s-commerce--cmk .s-commerce__preview
        font-size: 18px
        margin-top: -17px
        margin-bottom: 40px
    .s-commerce--cmk .s-commerce__subtitle
        font-size: 14px
        line-height: 120%
        padding: 30px 20px
    .s-commerce--cmk .s-commerce__items
        padding: 0 15px 13px 36px
    .s-commerce--cmk .s-commerce__element
        font-size: 14px
        margin-bottom: 17px
        line-height: 150%
        padding-right: 0
        padding-left: 4px
    .s-commerce--cmk .s-commerce__item
        margin-bottom: 20px
    .banner-slider__item--cmk
        padding-top: 28px
        background-position: -44px bottom
        h2
            font-size: 14px
            line-height: 150%
            max-width: none
    .banner-slider__item--cmk .s-banners__subtitle
        margin-bottom: 16px
        font-size: 22px
        min-height: auto
    .s-control--cmk-3
        padding-top: 0
    .s-control--cmk .s-control__info
        font-size: 18px
        line-height: 130%
        margin-top: -16px
        margin-bottom: 40px
    .s-control--cmk-3 .s-control_block
        padding-left: 19px
        padding-right: 30px
        margin-bottom: 10px
        height: 74px
    .s-control--cmk-3 .s-control_icon
        margin-right: 16px
    .s-control--cmk-3 .s-control_desc
        font-size: 14px
        line-height: 120%
    .s-components__list
        margin-top: -12px
        padding-top: 0
    .s-components__item
        max-width: 100px
        margin-right: 10px
    .s-components
        padding-bottom: 61px
    .s-configurator__wrap
        padding-top: 14px
    .s-configurator__cell
        line-height: 18px
    .s-configurator__cell--quantity
        width: 41%
    .s-configurator__line
        min-height: 102px
        height: auto
        margin-bottom: 5px
    .s-configurator__cell:first-child
        width: 59%
    .s-configurator__table
        margin-bottom: 54px
    .s-configurator__cart-title
        font-size: 20px
        margin-bottom: 0
    .s-configurator__cart
        padding-top: 25px
    .s-configurator__total
        font-size: 34px
        line-height: 47px
        margin-bottom: 27px
    .s-configurator__cart .btn
        height: 54px
        margin-bottom: 10px
    .s-configurator__note
        font-size: 14px
        line-height: 150%
        margin-top: 20px
    .main-ban--self-service
        padding-bottom: 23px
        background-position-y: top
        .main-ban__text
            padding-top: calc((100vw - 375px) * (355 - 277) / (450 - 375) + 277px) !important
        .main-ban__btns .btn
            width: 100%
    .s-self-managed
        padding-top: 60px
        padding-bottom: 40px
        margin-bottom: 53px
    .s-self-managed_list
        margin-top: 42px
    .s-self-managed_icon
        height: 66px
        padding-left: 6px
        img
            transform: scale(0.57)
    .s-self-managed_desc
        font-size: 16px
        line-height: 150%
        min-height: 102px
        padding: 25px 30px 29px 20px
    .s-hosting_title
        font-size: 22px
        line-height: 150%
        margin-bottom: 12px
    .s-hosting_desc
        font-size: 14px
        line-height: 120%
        padding-right: 0
        max-width: 242px
    .s-hosting_block
        height: 159px
        padding: 30px 22px 36px
        margin-bottom: 20px
        background-position: 216px bottom
        background-size: auto 70%
        &:first-child
            background-position: 170px bottom
        &:nth-child(3)
            background-position: 177px bottom
        &:last-child
            background-position: 205px bottom
    .s-hosting
        margin-bottom: 38px
    .s-tarification
        margin-bottom: 23px
    .s-tarification_block
        margin-bottom: 33px
        margin-right: 0
        padding-top: 51px
        padding-right: 5px
        &:before
            width: 36px
            height: 36px
            background-size: contain
    .s-tarification_title
        font-size: 22px
        line-height: 26px
        margin-bottom: 15px
    .s-tarification_desc
        font-size: 16px
        line-height: 150%
    .s-interface__info
        font-size: 14px
        margin-top: -20px
        margin-bottom: 20px
    .s-interface-slider .slick-list
        margin-bottom: 27px
    .s-interface 
        margin-bottom: 60px
    .s-graphics
        h2
            padding-right: 20px
    .s-graphics__image
        padding: 6px 0 60px 0
    .describe
        padding-top: 53px
        padding-bottom: 56px
    .cloud-arch .cloud-arch__text-content .cloud-arch__content
        padding-top: 20px
    .advantages
        padding-top: 0
        padding-bottom: 61px
        margin-top: -10px
        .item__text
            font-size: 16px !important
            line-height: 130% !important
        .item__title 
            padding-bottom: 13px !important
        .advantages__item
            padding-right: 85px !important
            padding-bottom: 45px !important
    .d-payment
        padding-bottom: 42px
    .s-futheres
        padding-bottom: 40px
        .s-futheres_col
            display: flex
            flex-direction: column
            padding: 29px 19px 30px 20px
            span
                font-size: 22px
                line-height: 26px
                margin-bottom: 22px
        .s-futheres_text
            font-size: 16px
            line-height: 150%
            margin-bottom: 0
        .btn
            margin-top: auto
            padding-bottom: 14px
    .s-documents--self-service
        padding-top: 63px
        padding-bottom: 0
    .s-events--self-service
        padding-top: 38px
    .special-section
        padding-top: 58px
    .special--waf
        border-radius: 8px
        .special__logo 
            bottom: 31px
            left: -32px
        .special__slogan
            display: none
        .special__image-wrap
            height: 180px
        .special__wrapper
            padding-top: 3px
        .special__description
            padding-right: 14px
            padding-bottom: 30px !important
        .btn
            width: 100%
            height: 54px
    .s-control--waf
        padding-bottom: 40px
        .s-title
            font-size: 28px
            line-height: 34px
        .s-control__info
            font-size: 16px
            line-height: 21px
            margin-bottom: 41px
        .s-control_block
            height: 94px
            margin-bottom: 20px
            padding-left: 7px
        .s-control_desc
            font-size: 14px
            line-height: 130%
        .s-control_icon
            width: 40px
            height: 40px
            margin-right: 10px
    .b-storage
        padding-top: 60px
        padding-bottom: 60px
        &__info
            font-size: 18px
            line-height: 23px
            margin-bottom: 41px
        .btn
            width: 100%
            height: 54px
    .s-documents--waf
        padding-bottom: 49px
        .s-documents_img
            margin-left: 0
        .s-documents_block
            margin-bottom: 11px
            padding-bottom: 15px
    .breadcrumbs--reseller,
    .breadcrumbs--partner,
    .breadcrumbs--remote
        margin-top: 0
    .main-ban--reseller
        background-position: center 37px
        .main-ban__text
            padding-top: calc((100vw - 375px) * (470 - 385) / (450 - 375) + 385px)
    .main-ban--partner
        background-position: center top
        .main-ban__text
            padding-top: calc((100vw - 375px) * (400 - 330) / (450 - 375) + 330px)
    .special-section--reseller
        padding-top: 6px
        padding-bottom: 61px
        .special__image-wrap
            margin-bottom: 30px
        .special__description
            padding-right: 10px
        .btn 
            width: 100%
            height: 54px
    .s-futures
        .s-title
            padding-right: 5px
        img
            width: 32px
            height: 32px
            margin-right: 15px
    .s-futures_text
        margin-top: -20px
    .s-futures_item
        height: 82px
        margin-bottom: 10px
        padding-left: 18px
        p
            font-size: 12px
            line-height: 120%
    .b-advantages
        padding-top: 30px
        padding-bottom: 19px
        img
            width: 298px
            transform: translateX(10px)
        p
            margin-bottom: 23px
    .b-advantages_item__inner
        margin-right: 0
    .s-commerce--reseller
        padding-bottom: 21px
        .s-commerce__sum
            padding: 30px 20px
        .s-commerce__percent
            padding: 30px 20px
    .s-start
        padding-top: 58px
        padding-bottom: 22px
        .s-title
            margin-bottom: 40px
        .btn
            height: 54px
            padding-top: 19px
            padding-bottom: 19px
    .s-start_item__num
        align-items: center
        font-size: 18px
        line-height: 120%
        width: 60px
        height: 60px
        padding: 0
    .s-start_item
        margin-bottom: 30px
        p   
            font-size: 14px
            line-height: 140%
            width: 255px
    .s-start_list
        margin-bottom: 30px
        &:before
            left: -153px
            width: 290px
    .events-slider__info
        padding-bottom: 23px
    .s-events
        padding-bottom: 80px
    .video-slider
        padding-top: 4px
    .slider-one__text
        padding: 30px 21px
    .s-news
        padding-bottom: 86px
        &--center
            padding-bottom: 72px
    .s-articles 
        padding-bottom: 55px
    .s-ask
        padding-bottom: 81px
        .s-title
            margin-bottom: 40px
        .panel
            font-size: 12px
            line-height: 150%
            padding-right: 100px
            &.active
                margin-bottom: 16px
    .btn-accordion
        padding: 13px 78px 13px 0
    .popular-services__item
        height: 400px
        ul
            padding-bottom: 23px
        h3
            font-size: 22px
            line-height: 26px
    .s-subscribe
        padding-top: 42px
        h2
            max-width: 290px
            margin-bottom: 24px
        .label-radio
            max-width: 320px
            margin-bottom: 29px
            padding-left: 71px
            b
                padding-bottom: 10px
        .label-radio__check
            top: 19px
            left: 2px
    .subscribe-form__title
        padding-bottom: 47px
    .privileges:nth-child(odd)
        margin-right: 0
    .container.mb-80
        margin-bottom: 40px
    .privileges
        flex-basis: 100%
        width: 100%
        margin-bottom: 20px
        margin-right: 0
        &_title 
            padding: 30px 20px
            align-items: center
            .s-control_icon
                margin-right: 15px
                min-width: 32px
                height: 32px
                img
                    width: 32px
        .s-control_desc
            font-size: 18px
        &_text
            padding: 30px 20px
            p
                font-size: 16px
    .step
        display: block
        margin-bottom: 60px
        position: relative
    .step__item
        margin-right: 0
        display: flex
        flex-basis: 100%
        margin-bottom: 30px
        p
            font-size: 14px
            line-height: 1.4
            
        &:last-child
            display: none
    .step__count
        width: 60px
        height: 60px
        font-size: 18px
        margin-right: 20px
        margin-bottom: 0
        span
            color: #CACCD2
            visibility: hidden
            height: 1px
            width: 60px
    .line
        border-top: none
        position: absolute
        top: 0px
        left: 28px
        border-left: 4px solid #CACCD2
        height: 100%
    .how-tobe
        a
            width: auto
    .service-item
        margin-right: 0
        flex-basis: 100%
        padding: 20px 6px 20px 20px
        margin-bottom: 10px
        &_desc
            font-size: 14px
        &_icon
            margin-right: 20px
            min-width: 32px

            img
                width: 32px
    .feedback
        padding: 11px 0 8px
    .feedback-slider
        .slick-arrow
            bottom: 2%
        &__text
            font-size: 14px
            line-height: 17px
            margin-bottom: 27px
            padding-left: 20px
            padding-right: 18px
            padding-bottom: 30px
        &__item
            background-color: transparent
            border: 1px solid #CACCD2
            padding: 30px 0
            margin-bottom: 80px
        &__name
            margin-bottom: 20px
            p.red,
            p
                font-size: 12px
        &__owner
            display: block
            padding-left: 20px
            padding-right: 20px
        &__logo
            margin-top: 15px
            img
                width: 125px
    .s-banners.s-banners_mod.partner-page
        .banner-slider__item
            height: 400px
            margin: 0 1px 0 0
    .s-title--hidden
        display: block !important
    .s-title--partner
        display: none
    .support
        .s-control_block
            min-height: 87px
            height: 87px
        .s-control_desc
            font-size: 12px
            line-height: 1.2
        .s-control_icon
            min-width: 32px
            height: 32px
            margin-right: 15px
    .partner-page.adv.s-control 
        .s-control_block
            height: 82px
            margin-bottom: 10px
            padding-right: 10px
        .s-control_icon
            min-width: 32px
            width: 32px
            height: 32px
            margin-right: 15px
        .s-control_desc
            font-size: 12px
            line-height: 1.2
            padding-right: 0
    .s-control__info--partner
            font-size: 18px !important
            line-height: 130% !important
            margin-top: 31px
    .tech-partners
        .clients-slider__item
            margin-right: 0px
            width: 150px
        .clients-slider__img
            height: 64px
        img
            width: 56%
        .slick-arrow
            bottom: -12px
    .s-control.partner-page
        padding-bottom: 55px
    .special-section--partner
        padding-top: 48px
        padding-bottom: 64px
        .special__slogan
            bottom: 20px
        .btn
            width: 100%
            height: 54px
        .special__description
            padding-right: 14px
    .s-banners_mod.partner-page
        padding-top: 41px
        .slick-list
            margin-right: 0 !important
        .slick-arrow
            bottom: -1%
        .banner-slider__item
            justify-content: flex-start
            background-size: 233px
            padding-top: 30px
            p
                font-size: 22px
                line-height: 26px
            h2
                font-size: 14px
                line-height: 150%
                max-width: 280px
        h3
            font-size: 18px
            line-height: 130%
    .s-control.partner-page
        padding-top: 26px
    .privileges_title .s-control_icon
        margin-right: 15px !important
    .privileges_text
        padding-bottom: 42px
        p
            margin-bottom: 30px
    .privileges .s-control_desc
        padding-right: 5px !important
    .s-available-service--partner
        padding-top: 3px
        padding-bottom: 38px
    .s-control--partner
        .s-control_list
            padding-top: 3px
    .support
        .s-control_block
            height: 82px
            min-height: auto
            margin-bottom: 10px
            padding-right: 17px
        .s-control_icon
            width: 40px
            height: 40px
            img
                object-fit: cover
    .s-clients
        padding-bottom: 35px
    .s-futures
        .s-futures_text
            margin-top: 20px
    .b-advantages
        .b-advantages_text
            margin-top: 20px
    .main-ban--marketplace
        background-size: 50%
        background-position: center 130px
        .breadcrumbs
            margin-bottom: 250px
        .main-ban_tabs
            position: absolute
            top: 86px
            width: 100%
            left: 0
            &__block
                padding-left: 15px
        h1
            font-size: 42px
        p
            font-size: 16px
        &__btns
            display: block
        .btn
            width: 100%
            height: 55px
            &:first-child
                margin-bottom: 15px

    .s-about--marketplace
        &_col
            margin-right: 0
            flex-basis: 100%
            font-size: 14px
    .s-services
        padding-bottom: 83px
        &__item
            background-size: 57% !important
            margin-right: 0
            margin-bottom: 19px
            padding: 31px 15px 72px 21px
            ul
                padding-bottom: 17px
            h3
                font-size: 22px
                margin-bottom: 20px
            p
                font-size: 14px
                margin-bottom: 33px
                padding-right: 44px
            li
                font-size: 14px
                padding-left: 12px
                padding-bottom: 18px
            &-link
                margin-bottom: 100px
    .main-ban--marketplace
        padding-bottom: 22px
    .s-about--marketplace
        .s-about_content
            padding-bottom: 38px
        .s-about_text
            line-height: 24px
            margin-bottom: 36px
        .s-about_col
            font-size: 14px
            line-height: 150%
            padding: 24px 26px 24px 22px
    .s-services
        padding-top: 61px
    .s-events--marketplace
        padding-top: 21px
    .s-control--private
        .s-control_block
            margin-bottom: 20px
            height: auto
    .s-pros
        &__block
            &--item
                padding: 0
                align-items: center
                margin-bottom: 25px
            &--icon
                margin: 0
                margin-right: 17px
    .s-banners--private
        padding-top: 13px !important
        padding-bottom: 32px
        .banner-slider__item
            padding: 26px 14px 50px
            margin-bottom: 32px
            background-position: 27px 0px
            background-size: cover
        .s-banners__title
            max-height: unset
            height: auto
            margin-bottom: 25px
        .banner
            h2
                font-size: 16px
                line-height: 150%
    .s-capabilities
        padding-top: 50px
        padding-bottom: 13px
        &__block
            &--item
                padding: 33px 37px 64px
            &--number
                margin-bottom: 21px
            &--title
                margin-bottom: 12px
    .s-interest
        padding-top: 44px
        &__block
            &--item
                padding: 0px 36px
    .s-documents--private
        padding-top: 43px
    .s-documents--datacenter
        padding-bottom: 0
    .s-control--private
        .s-control_icon
            margin-right: 29px
        .s-control_block
            align-items: flex-start
    .breadcrumbs--private
        margin-bottom: 17px
    .breadcrumbs--datacenter
        padding-top: 11px
    .main-ban--datacenter
        padding-bottom: 39px
        .main-ban__text
            margin-top: calc((100vw - 375px) * (150 - 70) / (450 - 375) + 70px)
            p
                padding-right: 0
                padding-bottom: 43px
    .main-ban__text--private
        padding-top: 145px!important
        h1
            margin-right: -11px
    .main-ban--private
        p
            font-size: 14px
            padding-bottom: 50px
            span
                display: inline
    .main-ban--private
        padding-bottom: 40px
    .certificates
        &__title
            font-size: 34px
            margin-bottom: 26px
        &__item
            width: 390px
        .slick-arrow
            bottom: -18px
    .rent-services
        padding-top: 53px
        .s-title
            line-height: 44.2px
            margin-bottom: 39px
        &__item
            min-height: 515px
            padding: 56px 36px 4px 39px
            margin-bottom: 20px
            &:nth-child(5)
                margin-bottom: 40px
            li
                font-size: 18px
                padding-left: 19px
                &::before
                    top: 7px
        .all-services
            height: 55px
        &__img
            margin-right: -20px
            min-height: 268px
            width: 142%
            max-width: none
        h3
            min-height: 75px
    .power
        padding-bottom: 26px
        .power__title
            font-size: 34px !important
            line-height: 41px !important
            padding-bottom: 34px
        .power__list
            .power__item
                height: 158px
                padding: 34px 25px 31px 33px
                margin-bottom: 17px !important
                .power__item-text
                    width: 170px
                    padding-top: 18px
                .power__item-image
                    .power__item-icon--size
                        min-width: 100%
    .data-info
        &__title
            font-size: 28px
            line-height: 34px
            padding-right: 100px
    .tech-param
        padding-top: 54px
        &__block
            padding: 51px 20px 27px 25px
        &__title
            font-size: 34px
            line-height: 40.8px
        ul li
            line-height: 22px
            padding: 0 0 20px 17px
    .s-banners.s-banners_mod.remote-work 
        button.btn
            width: 100%
    .configuration 
        button.btn
            width: 100%
    .we-offer_item 
        p
            font-size: 14px
    .s-control.remote-workplaces
        .s-control_block 
            padding: 20px
            margin-bottom: 10px
            .s-control_icon
                min-width: 32px
                width: 32px
                height: 32px
            .s-control_desc
                font-size: 14px
    .popular-services.remote-work.s-virtual 
        .popular-services__item
            flex-basis: 100%
            margin-right: 0
            margin-bottom: 20px
            width: auto
    .s-control.cloud-service 
        padding-bottom: 80px
        .s-control_block
            flex-basis: 100%
            margin-right: 0
            padding: 20px
            min-height: auto
            margin-bottom: 10px
            .s-control_icon
                min-width: 32px
                width: 32px
                height: 32px
    .s-about_top-container.remote-work
        display: none
    .we-offer
        padding-bottom: 65px
        &_item
            flex-basis: 100%
            display: flex
            margin-right: 0
            align-items: center
            padding-bottom: 15px
            border-bottom: 1px solid #CACCD2
            margin-bottom: 15px
            img
                margin-bottom: 0
                margin-right: 20px
                width: 32px
    .popular-services.remote-work
        padding-bottom: 80px
        .popular-services__item
            &:last-child
                padding: 40px 20px
        .popular-services__check
            padding-top: 0
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0

            div
                display: flex
                font-size: 16px
                align-items: center
            img.check-img
                margin-bottom: 0
                margin-right: 15px
        button.btn-primary
            width: 100%
    .cloud-migration
        padding-bottom: 80px
        &_block
            padding: 40px 20px
        &_items
            padding-top: 40px
            display: block
            margin-right: 0
        &_item
            flex-basis: 100%
            margin-right: 0
            font-size: 16px
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        p.red
            font-size: 28px
            margin-bottom: 15px
        p
            font-size: 23px
        button.btn
            width: 100%
    .remote-workplaces
        padding-bottom: 80px
        br
            display: none
        h3
            margin-bottom: 40px !important
        .s-control_block
            padding: 20px
            &:last-child
                margin-bottom: 0
        .s-control_icon
            width: auto
            min-width: auto
            margin-right: 15px
    .configuration
        .privileges
            margin-bottom: 20px
            &:last-child
                    margin-bottom: 0
            &_text
                padding-top: 31px
                padding-left: 20px
                padding-bottom: 32px
                p 
                    span
                        font-size: 22px
                        display: block
                        padding-top: 8px
            &_title
                padding: 30px 20px
        .s-control_desc
            font-size: 28px
            p
                padding-top: 15px
                font-size: 18px
                line-height: 27px
        .get-service
            display: block
            div
                margin-right: 0
                margin-bottom: 9px
                font-size: 12px
                &:last-child
                    margin-bottom: 0
                img
                    width: 28px
                    height: 28px 

        button.btn
            font-size: 14px !important
            line-height: 150% !important
            height: 54px !important
            padding: 0 !important
    .popular-services.remote-work.more-possibilities
        padding-top: 60px
        padding-bottom: 40px
        h3
            min-height: auto
            margin-bottom: 10px !important
    .popular-services.remote-work.more-possibilities 
        .popular-services__item
            margin-right: 0
            min-height: 512px
            position: relative
            padding: 30px 0 0 20px
        .popular-services__img
            position: absolute
            bottom: 0
            right: 0
    .form-block__1
        margin-right: 0
        flex-basis: 100%
        font-size: 18px
        margin-bottom: 40px
    .form-block__2
        flex-basis: 100%
        .popup__bot
            width: 100%
    .form-block 
        form 
            .popup__input
                padding: 17px 20px
            .popup__textarea
                min-height: 100px
    .main-ban.remote-work-bg
        background-position-y: -25px
        padding-bottom: 26px
        .main-ban__text
            padding-top: calc((100vw - 375px) * (360 - 300) / (450 - 375) + 300px)
    .we-offer
        padding: 88px 0 50px 0
    .s-control.cloud-service
        padding-bottom: 71px
        .s-title
            font-size: 34px
            line-height: 41px
        .s-control_icon
            margin-right: 15px
        .s-control_block
            height: 74px
    .popular-services.remote-work.s-virtual
        p
            font-size: 14px
            line-height: 150%
            margin-bottom: 30px
        h3
            padding-bottom: 20px
        a
            font-size: 14px
            line-height: 150%
        .check-img
            width: 28px
            height: 28px
        .popular-services__check
            padding-top: 0
        .popular-services__item--points
            height: 244px
        button.btn
            width: 100% !important
            height: 54px !important
            font-size: 14px !important
            line-height: 150% !important
            padding: 0 !important
    .cloud-migration_item:not(:last-child)
        padding-right: 10px
        img
            width: 28px
            height: 28px
    .cloud-migration_item
        .btn
            font-size: 14px !important
            line-height: 150% !important
            height: 54px !important
            margin-top: 14px
            padding: 0 !important
    .s-control.remote-workplaces
        padding-top: 0
        padding-bottom: 81px
        h2
            margin-bottom: 22px
        h3
            font-size: 18px
            line-height: 130%
    .s-banners.remote-work.virtual-workplace
        .s-title
            font-size: 34px
            line-height: 41px
        .s-banners_number
            font-size: 22px
            line-height: 26px
        .banner-slider__item
            justify-content: flex-start
            height: 400px
            padding-top: 30px
            h2
                font-size: 14px
                line-height: 150%
                max-width: none
        .btn.btn-primary
            font-size: 14px  !important
            line-height: 150%  !important
            height: 54px  !important
            padding: 0  !important
    .more-possibilities
        padding-bottom: 85px !important
        h3
            font-size: 18px !important
            line-height: 22px !important
            min-height: auto !important
            padding-bottom: 0 !important
        p
            font-size: 14px !important
            line-height: 150% !important
            padding-right: 25px
        a
            font-size: 14px !important
            line-height: 150% !important
        ul
            padding-bottom: 20px !important
        li
            padding-bottom: 10px !important
        .more-possibilities-slider
            margin-right: 0 !important
        .popular-services__item
            padding: 33px 0 0 21px
        .slick-arrow
            bottom: -51px
    .form-bl
        h2
            font-size: 34px
            line-height: 41px
        p
            font-size: 18px
            line-height: 130%
            margin-bottom: 0
            padding-right: 0
        .popup__input
            padding-bottom: 18px
        .popup .label-input
            margin-bottom: 11px
        .input-file__name::before
            font-size: 10px
            line-height: 160%
        .form-block form .input-file
            padding: 20px 15px 17px 20px
        .input-file__text
            img
                margin-right: 15px
        .btn
            font-size: 14px !important
            line-height: 150% !important
            width: 100% !important
            height: 54px !important
            padding: 0 !important
        .input-file
            margin-bottom: 27px !important
    .s-about--remote
        .mobile-nav__title:not(a)::after
            right: 8px
    .we-offer_item
        margin-right: 0 !important

    .s-clients--gru
        padding-bottom: 60px
        .slick-arrow
            svg
                width: 7px
                height: 11.67px
    .feedback--gru
        padding-top: 60px
        .feedback-slider__item
            background: white
            border: none
        .feedback-slider__owner
            display: flex
        .slick-arrow
            svg
                width: 7px
                height: 11.67px
        .slick-prev
            z-index: 2
        .slick-next
            left: 70px
    .s-documents--gru
        padding-bottom: 69px
    .d-services
        &__item
            background-size: 65%
            p
                margin-bottom: 190px
                font-size: 14px
    .v-rate
            .v-rate-inner__item-title2
                padding-top: 35px !important
            .v-rate-inner__item-title
                margin-left: -20px
            .v-rate-inner__item-content1
                padding: 55px 0 40px 60px !important
            .v-rate-inner__item-content
                display: block
                .v-rate-inner__item-content-title
                    margin-top: -15px
                    margin-bottom: 55px !important
                .v-rate-list
                    margin-left: -20px
                .v-rate-inner__item-content-attention
                    padding-left: 20px !important
                .v-box-row
                    .v-box
                        width: 295px !important
                        height: 121px !important
                        padding: 5px 20px 20px 20px !important
                        .v-text
                            font-size: 14px !important
                        .v-span-block2
                            font-size: 34px !important
                        .v-request
                            font-size: 14px !important
                            margin-top: 0 !important
                        .v-text-1
                            font-size: 42px !important
                        .v-request2
                            margin-top: -10px !important  
                    .v-box1, .v-box3, .v-box5, .v-box2, .v-box4, .v-box6
                        margin-left: -40px !important
                    .v-box1, .v-box3, .v-box5
                        margin-top: 20px !important
                        margin-bottom: 20px!important
                    .v-box5
                        margin-top: 80px !important
                    .v-box6
                        position: relative !important
                        display: flex !important
                        padding: 0 !important
                        .v-span-block-request
                            font-size: 22px !important
                            align-self: center !important
                            padding-top: 0 !important
                            padding-left: 50% !important
                            transform: translateX(-25%) !important
    .d-banners
        .s-title
            margin-bottom: 43px
    .d-banners__item
        padding-bottom: 37px
        background-position-x: 95%
        p
            padding-right: 10px
    .d-excellence
        margin-top: 3px
        padding-bottom: 45px
        &__item
            margin-bottom: 19px
            padding-right: 25px
    .d-services__item
        margin-bottom: 18px
        padding-bottom: 34px
        p
            padding-right: 30px
    .d-structure_col
        margin-bottom: 34px
    .d-structure
        padding-bottom: 48px
    .v-rate
        .content__text
            font-size: 16px !important
            line-height: 24px !important
        .v-rate-inner__item-content .v-box-row .v-box
            padding: 10px 20px 20px 24px !important
        .v-span-block2
            display: inline-block
            margin-bottom: -3px
        .v-rate-inner__item-content .v-box-row
            .v-box2,
            .v-box4
                height: 128px !important
        .v-rate-inner__item1
            margin-bottom: 40px !important
        .v-rate-inner__item2
            margin-bottom: 42px !important
        .add-info
            padding-bottom: 32px
        .add-info::before
            margin-top: -14px
        .add-info__item
            padding-bottom: 8px !important
            padding-right: 17px !important
    .v-rate-inner__item
        background-size: auto 120px !important
    .v-rate-inner__item-title
        padding-top: 29px !important
    .v-rate .v-rate-inner__item-content
        padding: 5px 15px 29px 56px !important
    .v-rate-inner__text
        padding-top: 0 !important
        padding-bottom: 10px !important
        &::before
            left: -17px !important
            top: 16px !important
    .v-rate .v-rate-inner__item-content .v-rate-inner__item-content-title
        margin-top: 0 !important
        margin-bottom: 26px !important
        margin-left: -36px !important
    .v-rate-list
        padding-right: 40px !important
    .v-rate-inner__item-title3
        line-height: 24px !important
        padding-top: 23px !important
        padding-bottom: 43px !important
    .v-rate .v-rate-inner__item-content .v-rate-inner__item-content-attention
        position: relative
        font-size: 12px !important
        line-height: 150% !important
        margin-top: -4px !important
        padding-left: 11px !important
        &::before
            left: -41px !important
            top: 21px !important
            transform: scale(0.75)
    .s-documents--waf
        padding-top: 84px