@media screen and (min-width: 750px )
    .main-ban
        .container
            background: none!important

@media screen and (max-width: 750px )
    .s-clients
        overflow: hidden
    .feedback-slider
        .slick-arrow
            bottom: -10%
    .how-tobe
        .line
            top: 32px
        .step__count
            justify-content: center
            font-size: 18px
            line-height: 120%
            width: 60px
            height: 60px
        .step__item
            flex-basis: auto
            width: 25%
            p
                font-size: 14px
                line-height: 140%
                padding-right: 10px
            &:nth-child(3)
                margin-right: 0
    .banner-slider--partner
        &.banner-slider
            .slick-arrow
                bottom: -2%
    .main-ban
        padding-top: 20px
        &__text
            padding-top: 60px
        .container
            background-position: center top 25px
            background-repeat: no-repeat
            // padding-top: 300px
        &--cmk
            background-position-y: 15px
            background-position-x: calc((100vw - 551px) * (-405 + 525) / (750 - 551) - 525px)
            .main-ban__text
                margin-top: 0
                padding-top: 370px
        &--gru 
            p
                width: 70%
            h1
                width: 70% !important
    .main-ban--cmk
        background-size: auto 500px
    .main-ban--waf
        background-position: calc((100vw - 550px) * (-250 + 325) / (750 - 550) - 325px) 65px
        background-size: auto 450px
        .main-ban__text
            padding-top: 400px
    .breadcrumbs
        padding-top: 19px
        padding-bottom: 0
        flex-wrap: wrap
        a
            font-size: 12px
    .breadcrumbs_item
        margin-bottom: 9px
    .main-ban--marketplace .breadcrumbs
        padding-top: 19px
    .main-ban_tabs__item a
        font-size: 14px
    .main-ban_tabs__item
        padding-bottom: 12px
    .s-features
        &_bottom
            padding-bottom: 0
    .popular-services
        padding: 0
        padding-bottom: 60px
        h3
            min-height: 20px
            padding-bottom: 25px
        &__list
            display: block
        &__item
            width: 100%
            height: auto
            padding-bottom: 0
        &__img
            position: static
            margin-left: auto
            margin-right: -30px
            max-width: 70%
            margin-top: 10px
        .all-services
            display: flex
            align-items: center
            justify-content: center
            height: 65px
            padding: 0
            font-size: 18px
            font-weight: bold
            br
                content: ' '
                display: inline
            &::after
                position: static
                background-size: cover
                width: 19px
                height: 19px
                margin-left: 15px
    .banner-slider
        padding-bottom: 90px
        &__item
            &::before
                width: 90%
            p
                font-size: 16px
    .s-articles,
    .s-video,
    .s-news
        padding-bottom: 60px
    .s-clients,
    .s-events,
    .s-video,
    .s-news,
    .s-articles
        .s-title
            padding-right: 0px

    .clients-slider
        padding-bottom: 80px
        width: 100%
        margin-left: 0
        &__item
            padding-left: 0
        &__img
            padding-left: 0
            padding-right: 15px

    .s-events
        padding: 60px 0
    .events-slider,
    .news-slider
        width: 100%
        margin-left: 0
        padding-bottom: 90px
        &__item
            margin-left: 0

    .slider-one
        padding-bottom: 90px
        .slider-one__item
            display: block
        &__left
            width: 100%
            border-radius: 8px 8px 0 0
            height: 280px
        &__text
            width: 100%
            margin: 0
            padding: 25px

    .subscribe-form
        &__types
            display: block
        &__inputs
            padding-top: 1px
            flex-wrap: wrap
        .label-radio
            margin-bottom: 25px

    .label-radio
        max-width: 300px
        b
            padding-bottom: 6px
    .s-subscribe
        background: $red url('../img/subscribe-news.jpg') no-repeat center bottom
        background-size: 400px
        position: relative
        padding-bottom: 200px
        // &::after
        //     content: ''
        //     display: block
        //     position: relative
        //     margin-top: 20px
        //     height: 180px
        //     width: 100%
        //     background: url('../img/subscribe-news.jpg') no-repeat center top
        //     background-size: 400px auto
        //     opacity: 0.3
    .s-clients
        padding: 60px 0
    .subscribe-form
        &__inputs
            justify-content: space-between
            input
                width: 100%
            .btn
                width: calc( 50% - 10px )
                margin-top: 25px
                font-size: 16px
            .label-input
                width: calc( 50% - 10px )
                margin-right: 0

    .s-features_bottom__block
        flex-basis: 100%

    .slick-slide img
        width: 100%
    .s-scenario_list__item
        flex-basis: 100%
    .s-scenario_btn
        flex-wrap: wrap
        a
            margin-bottom: 30px
    .s-scenario_list
        margin-bottom: 40px
    .s-documents_name
        font-size: 10px
        line-height: 1.3
        img
            margin-right: 10px
            max-width: 28px
    .s-documents_link
        a
            display: none
    .s-documents_img
        padding: 0
    .s-documents_block
        padding: 12px 20px
        gap: 20px
    .s-documents
        padding-bottom: 20px
    .s-control_number
        min-width: 40px
        height: 40px
        font-size: 18px
    .s-control_desc
        font-size: 14px
        line-height: 1.3

        .s-control--agent &
            font-size: 12px
            line-height: 1.2

    .s-control_block
        padding: 20px
    .popular-services .warning_text
        font-size: 10px
    .popular-services_warning
        .warning
            margin-right: 15px
    .s-scenario_list__item___title
        font-size: 14px
    .s-scenario_btn .btn
        width: 100%
        margin-right: 0
    .s-features
        padding: 60px 0
    .s-test
        padding-bottom: 60px
        &_title
            font-size: 18px
            padding-bottom: 20px
            margin-bottom: 0
            span
                display: block
                margin-top: 10px
        .btn
            width: 280px
    .s-control
        padding-top: 60px
        padding-bottom: 80px
        &_block
            width: 100%
            &:first-child
                margin-right: 0
    .s-scenario_list__item___desc ul li
        font-size: 14px
    .s-features_list
        margin-bottom: 40px
    .s-control_text
        margin-bottom: 40px
    .s-control
        &_block
            margin-bottom: 10px
    .btn-accordion
        font-size: 16px
        line-height: 1.3
    .s-ask
        padding-bottom: 60px
    .main-ban--agent
        background-position: calc((100vw - 551px) * (-520 + 615) / (750 - 551) - 615px) 0
        .main-ban__text
            padding-top: 500px
    .s-components__item
        max-width: 150px
    .s-configurator__head
        display: none
    .s-configurator__line
        display: flex
        flex-wrap: wrap
        align-items: center
        padding: 15px
    .s-configurator__cell
        display: block
        &:first-child
            width: 60%
            margin-bottom: 13px
            padding-left: 0
            font-weight: 700
        &:nth-child(2)
            width: 40%
            text-align: right
            margin-bottom: 13px
            font-weight: 400
        &:last-child
            margin-left: auto
        &--quantity
            width: 26%
            margin-right: 15px
    .s-configurator__quantity
        margin: 0
    .s-configurator__table
        margin-bottom: 40px
    .s-configurator__cart
        padding: 30px 20px
        .btn
            width: 100%
    .s-configurator__group
        flex-basis: 100%
    .s-advantages__item
        flex-basis: 100%
    .s-about_text--cmk
        padding-right: 0
    .s-components__list
        margin: 0
    .s-components__item
        &:first-child
            margin-left: 0
        &:last-child
            margin-right: 0
    .main-ban--self-service
        background-size: auto 500px
        background-position: calc((100vw - 551px) * (-475 + 595) / (750 - 551) - 595px) 50px
    .main-ban--self-service .main-ban__text
        padding-top: 400px
    .s-hosting_block
        flex-basis: 100%
        margin-right: 0
        background-position: right bottom
        background-size: auto 60%
    .s-hosting_desc
        padding-right: 125px
    .s-interface__btn
        bottom: 11px
        left: 8px
        width: 14px
        height: 14px
    .advantages
        padding: 60px 0
        .advantages__list
            .advantages__item
                padding: 35px 180px 43px 20px
                .item__title
                    font-size: 22px
                .item__text
                    font-size: 14px
            .advantages__item--bg1:before
                content: url("../img/self-service/advantage__cube--s.png")
                position: absolute
                top: 20%
                left: 81%
            .advantages__item--bg2:before
                content: url("../img/self-service/advantage__rect-s.png")
                top: 58%
                left: 80%
    .configurator
        .s-title
            width: 100%
            margin-bottom: 20px
        .container
            flex-direction: column
        &__text-wrapper
            width: 100%
            text-align: start
            margin-bottom: 30px
            margin-right: 0
        &__buttons-wrapper
            width: 100%
        .btn
            flex-basis: auto
            width: calc(50% - 10px)
    .d-payment
        padding-top: 60px
        padding-bottom: 80px
        &_block
            width: 100%
            padding: 20px
            margin-bottom: 10px
            &:first-child
                margin-right: 0
        &_text
            margin-bottom: 40px
    .s-futheres
        padding-bottom: 60px
        &_col
            min-height: 293px
            padding: 30px
        .btn
            padding: 18px
            font-size: 14px
        &_text
            font-size: 16px
            margin-bottom: 45px
    .s-documents_open
        span
            display: none
    .s-documents_open
        margin-left: 0
    .main-ban--marketplace
        background-color: $dwh!important
        background-image: url("../img/marketplace/bgm-min.png")
        background-size: auto 340px
        background-repeat: no-repeat
        background-position: center 76px
        padding-top: 20px
        height: auto
        &_tabs
            margin-bottom: 100px
        .main-ban__text
            width: 100%
            padding-top: 127px
        .main-ban_tabs__item a
            font-size: 14px
        .main-ban_tabs__item
            padding-bottom: 12px
    .main-ban--datacenter
        background-size: auto 560px
        background-position: calc((100vw - 551px) * (-160 + 258) / (750 - 551) - 258px) 0px
    .s-about--marketplace
        .s-about_col
            flex-basis: 100%
            margin-right: 0
            margin-bottom: 20px
    .s-services
        .s-services__item
            flex-basis: 100%
            margin-right: 0
    .main-ban--corp-email
        background-position-y: 80%
        background-position-x: 115%
    .main-ban__content-text--corp-email
        padding-right: 100px
    .special__wrapper_btn--corp-email-mob
        width: 100%
        padding: 25px 0
        display: block
    .special__wrapper_btn--corp-email
        display: none

    .v-opportunity__row
        .v-opportunity__item
            padding: 30px 19px 176px 20px
        .v-opportunity__item:nth-child(1)
            background-image: url('../img/corp-email/opp1-mob.png')
        .v-opportunity__item:last-child
            background-image: url('../img/corp-email/opp2-mob.png')

    .d-excellence
        padding: 0 0 60px 0
        &__item
            padding: 20px
            padding-right: 19px
            margin-right: 0
            display: flex
            min-height: 103px

            p
                display: block
                width: 100%
                margin-left: -4px

    .popular-services--corp-email
        padding-top: 60px
    .data-info
        padding: 60px 0 69px 0
        &__title
            margin-bottom: 26px
        &__text
            font-size: 16px

    .certificates
        padding-bottom: 40px
        &__item
            width: 540px
        .slick-prev
            bottom: -40px
        .slick-next
            bottom: -40px

    .rent-services
        padding: 60px 0
        h3
            min-height: 20px
            padding-bottom: 7px
        &__list
            display: block
        &__item
            width: 100%
            min-height: 468px
            height: auto
            padding-bottom: 0
            ul
                min-height: 30px
                padding-bottom: 8px
                margin-bottom: 199px
        &__img
            margin-left: auto
            margin-right: -30px
            max-width: 100%
            margin-top: 10px
        .all-services
            poaition: relative
            display: flex
            align-items: center
            justify-content: center
            height: 65px
            padding: 0 37px
            font-size: 34px
            line-height: 40.8px
            font-weight: bold
            br
                content: ' '
                display: inline
            &::after
                position: absolute
                top: 27px
                right: 25px
                background-size: contain
                width: 44px
                height: 44px
        .all-rent
            min-height: 468px

    .tech-param
        padding: 60px 0
        &__block
            padding: 30px 20px
        &__subtitle
            margin-bottom: 20px
        &__item___desc
            ul
                li
                    font-size: 18px
    .power
        padding: 52px 0
    .we-offer_item
        flex-basis: calc(33.33% - 27px)
        &:nth-child(4n)
            margin-right: 40px
        &:nth-child(3n)
            margin-right: 0
    .s-control.cloud-service
        .s-control_block
            flex-basis: calc(50% - 20px)
            margin-right: 40px
            &:nth-child(3n)
                margin-right: 40px
            &:nth-child(2n)
                margin-right: 0
    .popular-services.remote-work.s-virtual
        .popular-services__item
            width: 100%
            margin-right: 0
        .btn
            width: 100% !important
    .popular-services.remote-work .popular-services__item--points
        padding-top: 0px
        padding-bottom: 30px
    .cloud-migration_item
        flex-basis: 100%
        button.btn
            width: 100%
    .more-possibilities
        .slick-arrow
            bottom: -60px
        .popular-services__img
            position: absolute
    .form-block__1,
    .form-block__2
        flex-basis: 100%
        margin-right: 0
        p
            margin-bottom: 20px
    .main-ban.remote-work-bg
        background-position-y: -20px
        background-position-x: calc((100vw - 551px) * (-290 + 410) / (750 - 551) - 410px)
    .s-clients--gru
        .slick-arrow
            bottom: -22px
            left: 0px
        .slick-next    
            left: 70px
        .clients-slider
            margin-bottom: 60px
    .feedback--gru
        .slick-arrow
            bottom: -20%
    .s-documents--gru
        padding-bottom: 69px
        padding-top: 105px
    .s-articles--gru 
        .slider-one__left
            width: 100%
    .cloud-service
        .s-control_block
            height: 130px
    .cloud-arch .cloud-arch__images
        justify-content: flex-start
    .d-services
        padding: 0
        padding-bottom: 60px
        &__item
            padding: 30px 20px
            flex-basis: 100%
            margin-bottom: 20px
            h3
                font-size: 22px
                margin-bottom: 20px
                line-height: 26.4px
            p
                font-size: 14px
                margin-bottom: 206px
                padding-right: 17px
                line-height: 18.2px
    .d-structure
        &_text
            font-size: 16px
            line-height: 20.8px
        span    
            font-size: 22px
            line-height: 26px
            margin-bottom: 16px
        &_col
            margin-bottom: 33px
    .v-rate
            .v-rate-inner__item
                .v-rate-inner__item-title--p
                    padding: 30px 0 36px 40px
                .v-rate-inner__item-content
                    .v-rate-inner__item-content-attention
                        width: 100%
                        padding-right: 20px