@media screen and (max-width: 550px )
    .s-control.partner-page
        .s-control_block
            flex-basis: 100%
            height: 90px
            margin-right: 0
    .breadcrumbs--agent
        margin-top: 0
    .main-ban
        padding-top: 0
        background-image: url(../img//bgm-min.png)
        background-size: cover
        background-position: center top
        &__text
            padding-top: 220px
        &__text--agent
            padding-top: 430px
        &--agent
            background-image: url(../img/agent-program/agent-program-bg-mob.png)
            background-size: 100% auto
            background-position: center -30px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (567 - 480) / (550 - 450) + 480px)
        &--cmk
            background-image: url('../img/cmk/bg-mob.jpg')
            background-size: contain
            background-position-y: 40px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (425 - 340) / (550 - 450) + 340px)
        &--self-service
            background-image: url('../img/self-service/bg-mob.jpg')
            background-size: contain
            background-position-y: 10px
            .main-ban__text
               padding-top: 410px
        &--waf
            background-image: url('../img/waf/bg_mob.png')
            background-size: contain
            background-position-y: 25px
            .main-ban__text
                padding-top: 460px
                padding-top: calc((100vw - 450px) * (460 - 350) / (550 - 450) + 350px)
        &--reseller
            background-image: url('../img/reseller/bg_mob.jpg')
            background-size: contain
            background-position: center 30px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (550 - 455) / (550 - 450) + 455px)
        &--partner
            background-image: url('../img/partner-page/bg_mob.jpg')
            background-size: contain
            background-position: center top
            .main-ban__text
                padding-top: calc((100vw - 451px) * (490 - 410) / (550 - 451) + 410px)
        &--datacenter
            background: url("../img/datacenter/bg-mob.png")
            background-color: #F7F8FB
            background-repeat: no-repeat
            background-position: center -80px
            background-size: cover
            padding-top: 0
            .main-ban__text
                margin-top: calc((100vw - 451px) * (280 - 150) / (550 - 451) + 150px)
                h1
                    padding-right: 0
        &--corp-email
            background-image: url('../img/corp-email/bg-mob.png')
            background-position-y: 10%
            background-size: contain
        &--gru
            background-image: url('../img/gru/bg.png')
            background-size: auto 300px
            background-position: center 15%
            h1
                padding-bottom: 30px !important
    .s-features__img
        position: static
        transform: translateY(0%)
    .s-features_list__title
        font-size: 14px
        line-height: 1.3
        margin-bottom: 15px
    .s-features__desc
        margin-bottom: 20px
        font-size: 12px
        line-height: 1.3
    .s-test
        &_title
            font-size: 18px
            padding-bottom: 20px
        .btn
            width: 280px
    .s-control
        &_block
            width: 100%
            &:first-child
                margin-right: 0
    .banner-slider
        &__item
            // padding: 100px 30px 30px
            overflow: hidden
            &::before
                margin-left: -20px
            &::after
                background: linear-gradient(360deg, #202126 0%, rgba(32, 33, 38, 0.5) 66.82%, rgba(32, 33, 38, 0) 100%)
            h2
                // font-size: 24px
    .subscribe-form
        .error-text
            position: static
        &__inputs
            input
                margin-top: 0
            .label-input,
            .btn
                width: 100%
                margin-top: 15px
        &__title
            font-size: 18px

    .s-control--agent .s-control__block
        height: 82px
    .s-control--agent
        padding-top: 32px !important
        padding-bottom: 72px !important
    .s-commerce__title
        font-weight: 900
        font-size: 22px
        line-height: 26px
        color: #ffffff
        padding: 30px 20px
    .s-commerce__key
        font-size: 14px
        line-height: 120%
        margin-bottom: 16px
    .s-commerce__value
        font-weight: 700
        font-size: 16px
        line-height: 120%
    .s-commerce__sum
        padding: 30px 20px
        border-bottom: 1px solid rgba(202, 204, 210, 0.5)
    .s-commerce__percent
        padding: 30px 20px
    .s-commerce__info
        font-size: 18px
        line-height: 130%
        margin-bottom: 30px
    .s-commerce__notations
        font-size: 12px
        line-height: 130%
        position: relative
        padding-left: 44px
        &::before
            content: ''
            position: absolute
            //top: 11px
            left: 1px
            display: block
            width: 28px
            height: 28px
            background-image: url(../img/agent-program/snowflake.svg)
    .s-available-service
        padding-top: 62px
        padding-bottom: 3px
        background-color: #F7F8FB
        &--partner
            background-color: transparent
    .s-available-service__item
        background-color: #ffffff
        border-radius: 6px
        margin-bottom: 10px
        padding: 21px 20px
        display: flex
        align-items: center
    .s-available-service__hidden
        display: none
    .s-available-service__icon
        width: 32px
        height: 32px
        margin-right: 20px
    .s-available-service__text
        font-size: 14px
        line-height: 120%
    .s-ask_block--available-service
        display: block
    .mobile-hide
        display: block
    .desktop-hide
        display: none
    .s-commerce--cmk .s-commerce__preview
        font-size: 24px
        margin-top: 0
    .s-commerce--cmk .s-commerce__element
        flex-basis: 100%
    .s-control--cmk .s-control__info
        font-size: 24px
    .s-components__item
        max-width: 115px
        margin-right: 25px
        margin-left: 0
    .s-about--cmk .mobile-nav__title
        padding: 10px 30px
        height: auto
    .s-hosting_block
        background-position: 267px bottom
        background-size: auto 60%
    .s-hosting_desc
        padding-right: 100px
    .s-graphics__btn
        bottom: 67px
        left: 0px
        width: 11px
        height: 11px
        svg
            width: 11px
            height: 11px
    .describe
        .cloud-arch
            .cloud-arch__images
                flex-wrap: wrap
                width: auto
                padding-top: 48px
                //justify-content: space-around
                //margin-left: -18px
                .images-cisco, .images-dell, .images-net-app
                    margin-right: 0
                .images-cisco > img
                    width: 62%
                .images-dell > img
                    width: 47%
                .images-net-app > img
                    width: 63%
                    padding-left: 10px
                .images-juniper > img
                    width: 70%
                .images-cisco
                    width: 129px
                    padding-top: 0
                .images-net-app
                    width: 115px
                .images-dell
                    height: auto
                    margin-bottom: 7px
    .advantages
        .advantages__list
            .advantages__item
                padding: 35px 150px 43px 20px
            .advantages__item--bg1:before
                top: 19%
                left: 76%
            .advantages__item--bg2:before
                top: 57%
                left: 75%
    .configurator
        &__buttons-wrapper
            flex-direction: column
            .btn
                width: 100%
                margin: 0
                &-white-border
                    border: 1px solid white
                    margin-bottom: 20px
        &__text-wrapper
            text-align: left
            margin: 0 0 43px 0
    .d-payment
        &_block
            width: 100%
            &:first-child
                margin-right: 0
        &_desc
            font-size: 22px
            line-height: 1.3
            font-weight: 700
    .s-commerce--reseller
        .s-commerce__sum
            padding: 30px 0
        .s-commerce__percent
            padding: 30px 40px
    .support .s-control_block
        min-height: 90px
        padding: 0 10px 0 20px !important
    .clients-slider__img
        display: flex
        justify-content: flex-start
        height: 97px
        img
            width: 88%
            object-fit: contain
    .main-ban--marketplace
        background-size: 70%
        background-position: center 94px
        background-image: url('../img/marketplace/bgm-min.png')
        .breadcrumbs
            margin-bottom: 250px
        .main-ban_tabs
            position: absolute
            top: 70px
            width: 100%
            left: 0
            &__block
                padding-left: 15px
        .main-ban__text
            padding-top: calc((100vw - 450px) * (127 - 70) / (550 - 450) + 70px)
    .s-about--marketplace
        &_row
            display: block
        &_col
            margin-right: 0
            margin-bottom: 20px
            width: 100%
    .s-services
        &__item
            margin-right: 0
            padding: 15px
            h3
                font-size: 22px
            p
                font-size: 14px
            li
                font-size: 14px
            &-link
                margin-bottom: 100px
    .main-ban--private
        background-image: url('../img/private/bg-private-mobile.jpg')
        background-size: 84%
        background-position: 0 99px

    .main-ban__text--corp-email
        padding-top: 100%

    .main-ban__content-text--corp-email
        padding-right: 0
        width: 300px
    .main-ban__btns--corp-email
        .btn-red, .btn-red-border
            width: 90vw !important

    .d-excellence
        .s-title
            font-size: 28px

    .certificates
        &__item
            width: 440px
    .rent-services
        &__item
            min-height: 368px
        .all-rent
            min-height: 300px
    .power
        .power__list
            .power__item
                width: 600px
                padding: 33px 33px
    .main-ban.remote-work-bg
        background-image: url('../img/bg-rw-min.jpg')
        background-position-y: -10px
        background-position-x: center
        background-size: 100% auto
        .main-ban__text
            padding-top: calc((100vw - 451px) * (440 - 365) / (550 - 451) + 365px)
    .we-offer_item
        flex-basis: calc(50% - 20px)
        &:nth-child(3n)
            margin-right: 40px
        &:nth-child(2n)
            margin-right: 0
    .s-control.cloud-service .s-control_block
        flex-basis: 100%
        margin-right: 0 !important
    .s-about--remote
        .mobile-nav__title
            font-size: 14px
            line-height: 17px
    .gru-info
        padding-bottom: 15px
        background: #F7F8FB
        &__image 
            width: 192.07px
            height: 289.77px
        &__text
            margin-bottom: 15px
    .d-banners
        padding-top: 60px
        .s-title
            font-size: 28px
        &__item
            padding: 30px 24px 30px 20px
            background-size: auto 184px
            background-position-x: 108%
            margin-bottom: 20px
            p
                font-size: 16px
                margin-bottom: 170px
                padding-left: 2px
                letter-spacing: -0.1px
        &_title
            font-size: 22px
            margin-bottom: 20px
            padding-right: 20px
    .d-banners__item-mod
        background-size: auto 220px
    .d-services
        &__item
            margin-right: 0
        p
            margin-bottom: 206px
    .v-rate
            .v-rate-inner__item
                background-position-y: -25px
                .v-rate-inner__item-title--p
                    padding: 17px 0 36px 40px
                .v-rate-inner__item-title
                    font-size: 20px !important
                .v-rate-inner__item-title1, .v-rate-inner__item-title2
                    padding-top: 38px
                .v-rate-inner__item-content
                    .v-rate-inner__item-content-title
                        font-size: 16px
                        line-height: 20px
                        font-weight: 900
                        margin-bottom: 57px
                    .v-rate-inner-list
                        margin-top: -25px
                        .v-rate-inner__text::before
                            top: 15px
                        .v-rate-inner__text
                            .content__text
                                font-size: 16px !important
                                font-weight: 400 !important
                                line-height: 24px !important
                    .v-rate-inner__item-content-attention
                        margin-top: -20px