@media screen and (max-width: 1600px )
    .banner-slider__item--profit h2
        max-width: 258px
    .banner-slider__item--profit
        background-position: 300px 28px
    .banner-slider__item--agent
        background-size: auto 215px
    .s-banners.partner-page
        .banner-slider__item
            height: 400px

    .service-item
        margin-right: 38px
        flex-basis: calc(50% - 20px)
        &:nth-child(2n)
            margin-right: 0
    .service-item
        margin-right: 38px
        &:nth-child(3n)
            margin-right: auto
    .main-ban
        max-height: calc( 100vh - 70px )
        h1
            font-size: 56px
            padding-bottom: 25px
        p
            font-size: 19px
            padding-bottom: 55px
        .btn
            height: 65px
            width: 47%
        &--waf
            height: 650px
            background-size: auto 700px
        &--reseller
            height: 650px
            background-size: auto 100%
            background-position: right -61px
        &--partner
            height: 650px
            background-size: auto 97%
            background-position: 100% -61px
        &--agent
            background-size: auto 770px
            background-position: calc((100vw - 1301px) * (-15 + 189) / (1600 - 1301) - 189px) -105px
            .main-ban__text--agent
                width: 680px
        &--datacenter
            background-position: calc((100vw - 1200px) * (-295 + 500) / (1600 - 1200) - 500px) center
            .main-ban__text
                margin-top: 140px
                h1
                    padding-right: 215px
        &--gru
            min-height: 650px
            background-size: 23%
            .top-wrapper
                flex-direction: column
            .main-ban_tabs--gru
                margin: 0
        &--cmk
            background-position-x: calc((100vw - 1301px) * (-0 + 150) / (1600 - 1301) - 150px)
                
    .popular-services
        padding: 80px 0
        &__item
            height: 530px
            padding: 30px
            li
                font-size: 16px
        h3
            min-height: 80px
            font-size: 24px
        .all-services
            font-size: 40px

    .events-slider
        &__date
            top: 25px
            left: 25px
        &__mts
            left: 25px
        &__text
            padding: 25px
        &__info
            padding-bottom: 15px
        h3
            font-size: 24px

    .banner-slider
        .banner-slider__item
            height: 320px
            background-size: 150px
        &__item
            h2
            &::before
                width: 70%
                background-size: 100%
    .s-video ,
    .s-clients,
    .s-events,
    .s-news,
    .s-articles
        .s-title
            margin-bottom: 45px
    .slider-one
        &__left
            height: 340px
        &__text
            padding-left: 50px
        .slick-dots
            margin-left: 50px
    .video-slider
        h3
            padding: 15px 0 20px
    .video-slider ,
    .articles-slider
        h3
            font-size: 24px
    .articles-slider
        .btn
            height: 60px
    .subscribe-form
        &__title
            padding-bottom: 30px
    .s-scenario_list__item
        p
            min-height: 66px
        &___title
            padding: 15px
    .main-ban_tabs
        display: -webkit-box
        width: max-content
        &__item
            margin-right: 25px
    .special__logo
        bottom: 161px
    .special__slogan
        bottom: 62px
    .special
        height: 390px
        margin-top: 195px
    .special__wrapper
        padding-top: 30px
    .special__description
        padding-bottom: 20px !important
    .s-commerce__value
        min-height: 42px
    .s-about--cmk .s-about_top-container
        height: auto
    .s-about--cmk .s-about_top
        flex-wrap: nowrap
    .s-about--cmk .s-about_top__item
        margin-right: 25px
    .s-configurator__table
        width: 720px
    .s-configurator__cart
    .s-configurator .btn
        width: 305px
    .main-ban--self-service
        background-size: auto 100%
        background-position: right 0
    .s-tarification_block
        margin-right: 100px
    .s-interface__info
        margin-top: 0
    .popup-gallery
        margin-left: 20px !important
        margin-right: 20px !important
        .popup-close
            right: -5px
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                left: 30%
            .advantages__item--bg2:before
                left: 82%
    .special--waf
        height: auto
        margin-top: 0 !important
        .special__image-wrap
            height: 368px
        .special__description
            padding-bottom: 25px !important
            padding-right: 30px
        .special__title
            margin-bottom: 20px
        .special__wrapper
            padding-top: 30px
        .btn
            width: 47%
    .s-start_item p
        padding-right: 15px
    .special-section--reseller
        .special__slogan
            bottom: 111px
    .b-advantages_item img
        align-self: flex-end

    .s-futures
        .s-futures_text
            margin-top: 40px
    .b-advantages
        .b-advantages_text
            margin-top: 40px
    .main-ban--marketplace
        background-size: auto 60%
        background-position: 83% 77%
        h1
            font-size: 56px
            padding-bottom: 25px
        p
            font-size: 19px
            padding-bottom: 55px
        .btn
            height: 65px
            width: 47%

    .s-available-service__item:nth-child(2)
        // padding-left: 30px
        // img
        //     margin-right: 15px
        letter-spacing: -0.5px
    .s-control--private
        .s-control_block
            max-height: none

    .btn--corp-email
        width: 273px !important
    .special--corp-email
        margin-top: 0
    .v-opportunity__row
        .v-opportunity__item
            padding: 50px 50px 275px 50px
    .v-rate-inner__item-content
            display: flex
            flex-direction: column
            justify-content: space-between
            .v-box-row
                display: flex
                flex-direction: column
                max-width: 100%
                padding: 0 !important
                margin: 0 !important
                .v-box1, .v-box3
                    margin-bottom: 40px
                    margin-left: -20px
                    margin-top: 30px
                .v-box5
                    margin-bottom: 40px
                    margin-left: -20px
                    margin-top: 80px
                .v-box2, .v-box4, .v-box6
                    margin-left: -20px !important
    .d-excellence
        &__item
            min-height: 197px

        .v-rate-inner__item-content
                display: flex
                flex-direction: column
                justify-content: space-between
                .v-box-row
                    display: flex
                    flex-direction: column
                    max-width: 100%
                    padding: 0 !important
                    margin: 0 !important
                    .v-box1, .v-box3
                        margin-bottom: 40px
                        margin-left: -20px
                        margin-top: 30px
                    .v-box5
                        margin-bottom: 40px
                        margin-left: -20px
                        margin-top: 80px
                    .v-box2, .v-box4, .v-box6
                        margin-left: -20px !important
    .power
        &__title
            font-size: 42px
        .power__list
            .power__item
                width: 370px
                padding: 24px 35px
    .certificates
        &__title
           font-size: 42px
    .tech-param
         &__title
           font-size: 42px
    .rent-services__img
        width: 80%
    .rent-services .all-services
        font-size: 34px
        line-height: 41px
    
    
    .s-clients--gru
        .slick-arrow
            display: block
            bottom: -160px
            left: 20px
        .slick-next
            left: 117px
        .clients-slider 
            margin-bottom: 160px
        .main-ban_tabs__block
            flex-wrap: wrap
            width: 100%
        .main-ban_tabs
            width: 100%
        .main-ban_tabs__item
            padding-bottom: 15px
            padding-top: 15px
    .s-about_top-container.remote-work
        margin-top: 20px
    .main-ban.remote-work-bg
        min-height: 600px
        background-position-x: calc((100vw - 1301px) * (-150 + 350) / (1600 - 1301) - 350px)
    
    .gru-info__text
        margin-right: 110px

    .v-rate--gru
        .v-rate-inner__item-content--note
            padding-bottom: 16px
        .v-rate__subnote
            display: none
        .content__text--tooltip
            font-weight: 400
            font-size: 24px
            line-height: 36px
        .help-icon
            width: 20px
            height: 20px
            display: inline-block
            vertical-align: top
            background: url('../img/gru/exclamation.svg') no-repeat center
            background-size: cover
            position: relative
            z-index: 4
            cursor: pointer
            &__text--width
                width: 459px !important
            &__text
                width: 346px
                position: absolute
                bottom: 100%
                margin-bottom: 10px
                left: 50%
                border-radius: 8px
                transform: translateX(-50%)
                font-size: 14px
                white-space: normal
                line-height: 21px
                color: #4C5258
                font-weight: 400
                background: #ffffff
                padding: 15px 20px 14px 20px
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
                display: none
                cursor: default
                &::before
                    content: ''
                    display: block
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 8px 5px 0 5px
                    border-color: #fff transparent transparent transparent
                    position: absolute
                    top: 100%
                    left: 50%
                    margin-left: -5px
                &::after
                    content: ''
                    display: block
                    width: 30px
                    height: 10px
                    position: absolute
                    top: 100%
                    left: 50%
                    margin-left: -15px
            &:hover
                .help-icon
                    &__text
                        display: block
    .remote-work
        .banner-slider__item
            height: 460px
    .form-block__2
        flex-basis: calc(66% - 9px)
    .s-excellence--gru
        .s-excellence__item
            min-height: 132px 
    .s-clients--gru 
        .s-clients__text
            width: 100%
    .cloud-service
        .s-control_block
            height: 150px
    .s-hosting_block
        background-size: auto 75%
        background-position: right bottom
    .cloud-arch__images
        flex-wrap: wrap