@media screen and (max-width: 360px )
    .main-ban
        h1
            font-size: 36px
        p
            font-size: 15px
    .slider-one
        &__left
            height: 160px
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                left: 65%
            .advantages__item--bg2:before
                left: 63%
    .main-ban
        &__text--agent
            padding-top: calc((100vw - 320px) * (300 - 250) / (375 - 320) + 250px) !important
        &__text--private
            padding-top: 85px !important
        &--self-service
            background-position-y: calc((100vw - 320px) * (0 - 30) / (360 - 320) + 30px) !important
            .main-ban__text
                padding-top: calc((100vw - 320px) * (280 - 260) / (360 - 320) + 260px) !important
    .banner-slider__item--agent
        background-position: -58px bottom
    .banner-slider__item--profit
        background-position: left bottom
    .main-ban--marketplace
        background-size: 70%
        background-position: center 130px
        .breadcrumbs
            margin-bottom: 250px
        &_tabs
            &__block
                margin-left: -250px
        h1
            font-size: 36px
        p
            font-size: 15px
    .main-ban--cmk
        background-position-y: 60px
    .s-about--marketplace
        &_col
            margin-right: 0
            flex-basis: 100%
            font-size: 14px
    .s-services
        &__item
            background-size: 47% !important
            margin-right: 0
            padding: 15px
            &-link
                margin-bottom: 100px
    .certificates
        &__item
            width: 310px
    .main-ban--private
        background-position: 0px 140px
    h2
        letter-spacing: -1px
    .main-ban.remote-work-bg
        background-position-y: -10px
    .s-about--remote
        .mobile-nav__title
            padding: 16px 51px 16px 21px
    .s-hosting_block
        background-position: 216px bottom
        background-position-x: calc((100vw - 320px) * (175 - 140) / (360 - 320) + 140px)
        &:first-child
            background-position: 170px bottom
            background-position-x: calc((100vw - 320px) * (120 - 80) / (360 - 320) + 80px)
        &:nth-child(3)
            background-position: 177px bottom
            background-position-x: calc((100vw - 320px) * (127 - 108) / (360 - 320) + 108px)
        &:last-child
            background-position: 205px bottom
            background-position-x: calc((100vw - 320px) * (165 - 131) / (360 - 320) + 131px)
        .s-hosting_desc
            max-width: 185px
    .v-rate
            .v-rate-inner__item-title2
                padding-top: 35px !important
            .v-rate-inner__item-title
                margin-left: -20px
            .v-rate-inner__item-content1
                padding: 55px 0 40px 60px !important
            .v-rate-inner__item-content
                display: block
                .v-rate-inner__item-content-title
                    margin-top: -15px
                    margin-bottom: 55px !important
                .v-rate-list
                    margin-left: -20px
                .v-rate-inner__item-content-attention
                    padding-left: 20px !important
                .v-box-row
                    .v-box
                        width: 255px !important