@media screen and (max-width: 400px )
    .main-ban--marketplace
        background-size: 87%
        background-position: center 118px
        .breadcrumbs
            margin-bottom: 307px
        .main-ban__text
            padding-top: 17px
    .s-about--marketplace
        &_col
            margin-right: 0
            flex-basis: 100%
            font-size: 14px
    .slider-one
        &__left
            height: 180px

    .video-slider,
    .articles-slider
        h3
            font-size: 20px
    .articles-slider
        .btn
            width: 100%
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                top: 17%
            .advantages__item--bg2:before
                top: 55% 
    .certificates
        &__item
            width: 345px
    .d-services
        background-size: 100%
    .d-services__item--mod
        background-size: 77% !important
    .d-services__item--box
        background-size: 75% !important
        background-position-y: 110%
        p
            margin-bottom: 175px
    .d-services__item--last
        background-size: 82% !important
        background-position-x: 132% !important
        p
            margin-bottom: 175px
    .d-excellence__item
        height: calc((100vw - 320px) * (103 - 147) / (375 - 320) + 147px)