@media screen and (max-width: 1300px )
    .main-ban
        max-height: none//1000px
        padding: 20px 0 60px 0
        height: auto
        h1
            font-size: 48px
        p
            font-size: 18px
            padding-bottom: 40px
        &--agent
            background-position: -225px -105px
        &--waf
            background-size: auto 450px
            .main-ban__text
                width: 521px
        &--reseller
             background-size: auto 100%
             background-position: right center
             .main-ban__text
                 padding-top: 100px
        &--partner
            background-size: auto 100%
            background-position: right center
            .main-ban__text
                padding-top: 100px
        &--datacenter
            max-height: 1000px
            padding: 60px 0
            .main-ban__text
                margin-bottom: 140px
        &--gru
            min-height: 550px
            .top-wrapper
                margin-bottom: 100px
        &--cmk
            background-position-x: 85px

    .special-section--reseller
        margin-top: 0
    .special__slogan
        bottom: 80px
    .s-components__list
        margin: 0 -25px
    .s-components__item
        margin: 0 25px
    .configurator
        &__text-wrapper
            margin-right: 40px
            width: calc(50% - 20px)
    .main-ban--marketplace
        background-position: 83% 82%
        padding: 60px 0
        height: auto
        h1
            font-size: 48px
        p
            font-size: 18px
            padding-bottom: 40px
    
    .s-pros
        &__block
            &--item
                width: 45%
                margin-bottom: 56px

                &:nth-last-child(-n+3)
                    margin-bottom: 56px

                &:nth-last-child(-n+2)
                    margin-bottom: 0
    .remote-work-bg
        .main-ban__text
            width: 450px
