@media screen and (max-width: 1199px )
    .line
        &::after
            right: 17%
    .s-banners.s-banners_mod.partner-page
        h3
            br
                display: none
    .s-control.partner-page.adv
        h3
            br
                display: none
    .support
        .s-control_block
            min-height: 135px
    .s-components__list
        margin: 0 -10px
    .s-components__item
        margin: 0 10px
    .s-control__info
        padding-right: 0
    .s-control
        &_block
            flex-basis: calc(50% - 20px)
            &:first-child
                margin-right: 40px
    .popular-services
        padding-bottom: 60px
        &__item
            width: 47%
    .s-clients,
    .s-events
        padding: 80px 0
    .s-articles,
    .s-video,
    .s-news
        padding-bottom: 80px
    .news-slider
        b
            font-size: 20px
    .video-slider
        h3
            padding-top: 5px
    .video-slider h3,
    .articles-slider h3
        font-size: 22px

    .banner-slider__item
        padding: 40px

    .banner-slider__item--agent
        background-size: auto 175px
    .banner-slider__item--cmk
        background-size: auto 175px
    .banner-slider__item--profit
        background-size: auto 130px
        background-position: 265px center
        padding-right: 180px
        height: 340px
    .special
        height: 300px
    .special__date
        font-weight: 700
        font-size: 12px
        line-height: 150%
        border-radius: 100px
        padding: 0px 7px
        margin-bottom: 20px
    .special__title
        font-weight: 900
        font-size: 20px
        line-height: 24px
        margin-bottom: 20px
    .special__description
        font-size: 12px !important
        line-height: 150% !important
        padding-bottom: 30px !important
    .special__wrapper
        padding-left: 0
    .special__logo
        bottom: 227px
    .special__slogan
        bottom: 155px
    .s-control--agent .s-control_icon
        min-width: 32px
        width: 32px
        height: 32px
        margin-right: 15px
    .s-control_desc

        .s-control--agent &
            font-size: 12px
            line-height: 1.2
    .s-control--agent .s-control_block
        padding: 20px
        height: 110px
    .s-available-service__item
        flex-basis: calc(50% - 20px)
        &:nth-child(3n)
            margin-right: 0
        margin-right: 40px !important
        &:nth-child(2n)
            margin-right: 0 !important
    .s-about--cmk .s-about_top-container,
    .s-about_top-container--private
        height: auto
    .s-about--cmk .s-about_top
        flex-wrap: nowrap
    .s-about--cmk .s-about_top-item
        margin-right: 20px
    .s-control--cmk .s-control_block
        height: 140px
    .s-commerce--cmk .s-commerce__items
        padding-right: 35px
    .s-control--cmk-3 .s-control_block
        flex-basis: calc(50% - 20px)
        margin-right: 40px
        height: 130px
        &:nth-child(3n)
            margin-right: 40px
        &:nth-child(2n)
            margin-right: 0
    .s-configurator__wrap
        flex-wrap: wrap
    .s-configurator__table
        width: 100%
    .s-configurator__cart
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        margin-left: 0
        padding: 68px 115px 40px
    .s-configurator__group
        flex-basis: calc(50% - 20px)
    .s-configurator .btn
        width: 353px
    .s-hosting_desc
        padding-right: 140px
    .s-hosting_block
        background-position: right bottom
        background-size: auto 60%
    .s-tarification_title
        padding-right: 0
    .s-interface__info
        font-size: 20px
    .cloud-arch
        flex-direction: column
        .cloud-arch__text-content
            .cloud_arch__title
                font-size: 36px
            .cloud-arch__content
                font-size: 18px
        .cloud-arch__images
            padding-left: 0
            justify-content: space-between
            .images-cisco, .images-dell, .images-net-app
                margin-right: 61px
    .advantages
        overflow: hidden
        padding: 100px 0
        .advantages__title
            font-size: 36px
            padding-bottom: 40px
        .advantages__list
            .advantages__item
                .item__text
                    font-size: 24px
                .item__text
                    font-size: 18px
            .advantages__item--bg1:before
                left: 27%
                width: 10%
                height: 10%
            .advantages__item--bg2:before
                left: 79%
                top: 17%
                width: 10%
                height: 10%
    .configurator
        &__text
            font-size: 20px
    .d-payment
        &_block
            flex-basis: calc(50% - 20px)
            &:first-child
                margin-right: 40px
        &_desc
            font-size: 22px
    .s-futheres
        &_text
            padding-right: 0
            font-size: 20px
        .btn
            position: absolute
            bottom: 50px
    .configurator .container
        flex-direction: column
    .configurator__text-wrapper
        width: 100%
        text-align: start
        margin-bottom: 30px
        margin-right: 0
    .configurator__buttons-wrapper
        width: 100%
    .configurator__buttons-wrapper .btn
        flex-basis: calc(50% - 20px)
    .special--waf
        height: auto
        .special__wrapper
            padding-top: 20px
        .special__image-wrap
            height: 286px
        .special__description
        .special__title
            font-size: 20px
            line-height: 24px
        .special__wrapper
        .btn
            height: 65px
    .special--waf
        .special__image-wrap
            height: auto
    .special-section--reseller
        .btn
            height: 65px
    .s-control--waf
        .s-control__info
            padding-right: 0
        .s-control_block
            height: 145px
    .main-ban--cmk
        background-position-x: calc((100vw - 951px) * (120 + 40) / (1199 - 951) - 40px)
        background-size: auto 90%
        .main-ban__text
            width: 600px
    .main-ban--reseller
        background-size: auto 90%
        .main-ban__text
            p
                padding-right: 105px
    .main-ban--partner
        background-size: auto 90%
        background-position: right top
        .main-ban__text
            p
                padding-right: 146px
    .main-ban--agent
        background-size: auto 692px
        background-position: calc((100vw - 951px) * (-225 + 330) / (1199 - 951) - 330px) -39px
        .main-ban__text--agent
            width: 477px
    .main-ban--datacenter
        background-size: auto 700px
        background-position: calc((100vw - 951px) * (100 + 100) / (1199 - 951) - 100px) center
    .main-ban--self-service
        background-position: calc((100vw - 951px) * (-85 + 220) / (1199 - 951) - 220px) 25px
        .main-ban__text
            width: 480px
    .special-section--reseller .special__slogan
        bottom: 192px
    .s-futures_item
        height: 190px
    .main-ban--marketplace
        min-height: calc(100vh - 100px)
        background-size: 30%
        .main-ban__btns
            flex-wrap: wrap
            max-width: 365px
            .btn
                width: 100%
                margin-bottom: 20px
    .main-ban--gru 
        background-position: 85% 76%
    .gru-info
        &__text
            margin-right: 25px
            width: 630px
        &__wrapper 
            width: 600px
        &__image 
            margin-top: -20px
    .s-control--gru
        .s-control__text
            width: 100%
    .v-rate
        .add-info
                display: flex
                flex-direction: column
                padding-bottom: 15px
                .add-info__item
                    padding-bottom: 15px
        
    .v-rate
        .v-rate-inner__item
            .v-rate-inner__item-content
                .content__text--tooltip
                    .up-num
                        display: inline-block
                    .help-icon
                        display: none

    .container
        .v-rate-inner
            .v-rate-inner__item
                .v-rate-inner__item-title
                    font-size: 24px
                .v-rate-inner__item-content
                    .v-rate-inner__text:not(:first-child)
                        padding: 8px 0
                    .v-rate-inner__text:first-child
                            padding-bottom: 8px
                    .v-rate-list span
                            font-size: 16px
    .v-rate--gru
        .v-rate__subtitle
            width: 100%
        .v-rate-inner__item
            .v-box__price
                font-size: 58px
    .s-clients--gru
        .s-clients__text
            width: 100%
    .s-documents--gru
        .s-documents__text
            width: 100%

    .s-available-service__item:nth-child(2)
        // padding-left: 40px
        // img
        //     margin-right: 25px

    .s-control--private
        .s-control_block
            height: auto
    .s-capabilities
        &__block
            margin: 0 -20px
            &--item
                flex-basis: unset
                width: 45%
                margin: 0 20px
                margin-bottom: 20px
    .s-interest
        &__block
            justify-content: space-between
            &--item
                width: 45%
                margin: 0
    .data-info
        &__title
            font-size: 36px
        &__text
            font-size: 22px
            padding-right: 0

    .certificates
        padding-bottom: 0
        &__title
            font-size: 36px
        &__item
            width: calc(50% - 20px)
            margin-bottom: 44px
    .rent-services
        padding-bottom: 60px
        &__item
            width: 47%
    .power
        &__title
            font-size: 36px !important
            line-height: 40.8px !important
            width: 100% !important
        .power__list
            .power__item
                width: 292px
                padding: 15px

    .main-ban--corp-email
        background-position-x: right
    .main-ban__text--corp-email
        padding-right: 100px
    .main-ban__btns--corp-email
        align-items: self-end
        height: 150px
        flex-direction: column
    .v-opportunity__row
        flex-direction: column
        .v-opportunity__item
            flex-basis: 100%
            padding: 50px 294px 87px 50px
        .v-opportunity__item:nth-child(1)
            margin-right: 0
            margin-bottom: 40px

    .d-excellence
        &__item
            padding: 30px
            min-height: 251px

    .v-numbers_row
        .v-numbers_item
            padding-right: 50px
    .we-offer
        padding-bottom: 80px
    .s-control.cloud-service 
        padding-bottom: 40px
        .s-control_block
            flex-basis: calc(33.33% - 27px)
            padding: 20px
            margin-right: 40px
            min-height: 126px
            .s-control_desc
                font-size: 14px
            &:nth-child(3n)
                margin-right: 0
    .cloud-migration
        padding-bottom: 80px
        button.btn
            padding: 25px 50px
        &_items
            margin-right: 0
        &_item
            flex-basis: calc(30%)
            font-size: 16px
            margin-right: 30px
    .s-control.remote-workplaces
        padding-bottom: 60px 
        h3
            br
                display: none
    .popular-services.remote-work.s-virtual
        padding-bottom: 80px
        .popular-services__item
            width: 32%
        .popular-services__img
            width: 70%
        .popular-services__check
            padding-top: 35px
    .configuration 
        .privileges_text 
            p 
                span
                    display: block
    .s-banners.s-banners_mod.remote-work.virtual-workplace
        padding: 60px 0
    .popular-services.remote-work.more-possibilities
        padding-top: 60px
    .main-ban.remote-work-bg
        height: auto
        background-size: auto 700px
        background-position-x: calc((100vw - 951px) * (-150 + 300) / (1199 - 951) - 300px)
        .main-ban__text
            padding-top: 60px
    .form-block__2
        flex-basis: calc(66% - 11px)
    .s-excellence--gru
        .s-excellence__item
            min-height: 180px
    .d-banners
        p 
            width: 50%
    .d-services
        &__item
            padding-right: 50px
            h3
                font-size: 25px
            p
                margin-bottom: 150px