<div class="mobile-nav">
    <form class="mobile-search">
        <input type="text" placeholder="Поиск">
    </form>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title"><img src="img//icon-menu.svg" alt=""> Сервисы </div>
        <div class="mobile-nav__hidden">
            <div class="mobile-nav__services">
                <h3><a href="#">Вычислительные ресурсы</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/res-icon1.svg" alt=""> Публичное облако Elastic Cloud</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/res-icon2.svg" alt=""> GPU Super Cloud</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/res-icon3.svg" alt=""> Disaster recovery</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/res-icon4.svg" alt=""> Azure Stack</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/res-icon5.svg" alt=""> Private Cloud</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/res-icon6.svg" alt=""> Self-service</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Безопасность</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/safety1.svg" alt=""> Облако 152-ФЗ</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/safety2.svg" alt=""> Защита от DDoS-атак</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/safety3.svg" alt=""> Защита веб-приложений (WAF)</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/safety4.svg" alt=""> Антивирусная защита VM</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/safety5.svg" alt=""> Управляемый Firewall и IDS/IPS</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/safety6.svg" alt=""> SOC</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Корпоративные сервисы</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/corporate1.svg" alt="">Корпоративная почта</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate2.svg" alt=""> Диск</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate3.svg" alt=""> Skype</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate4.svg" alt=""> Virtual Desktops</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate5.svg" alt=""> 1C</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate6.svg" alt=""> Microsoft Online Services</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/corporate7.svg" alt=""> DWS</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Сетевые сервисы</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/netw1.svg" alt=""> Изолированные сетевые соединения</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/netw2.svg" alt=""> SD-WAN</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/netw3.svg" alt=""> CDN</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Хранение данных</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/storage1.svg" alt=""> Резервное копирование Veeam</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/storage2.svg" alt=""> Резервное копирование Acronis</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/storage3.svg" alt=""> Резервное копирование Commvault</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/storage4.svg" alt=""> Объектное хранилище</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Professional & Managet Services</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/managet1.svg" alt=""> Администрирование в облаке</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/managet2.svg" alt=""> Реализация проектов в облаке</a>
                    </li>
                    <li>
                        <a href="#"><img src="img/categories/managet3.svg" alt=""> Миграция в облаке</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Сервисы для разработки</a></h3>
                <ul>
                    <li>
                        <a href="#"><img src="img/categories/dev1.svg" alt=""> Containerum Managed Kubernetes</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-nav__services">
                <h3><a href="#">Решения для дистанционной работы</a></h3>
            </div>
        </div>
    </div>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title">Дата-центр</div>
        <div class="mobile-nav__hidden">
            <a href="#">Документация</a>
            <a href="#">Вопросы и ответы</a>
            <a href="#">Техническая поддержка</a>
        </div>
    </div>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title">Партнерам</div>
        <div class="mobile-nav__hidden">
            <a href="#">Документация</a>
            <a href="#">Вопросы и ответы</a>
            <a href="#">Техническая поддержка</a>
        </div>
    </div>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title">Поддержка</div>
        <div class="mobile-nav__hidden">
            <a href="#">Документация</a>
            <a href="#">Вопросы и ответы</a>
            <a href="#">Техническая поддержка</a>
        </div>
    </div>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title">Полезно</div>
        <div class="mobile-nav__hidden">
            <a href="#">Документация</a>
            <a href="#">Вопросы и ответы</a>
            <a href="#">Техническая поддержка</a>
        </div>
    </div>
    <div class="mobile-nav__item">
        <div class="mobile-nav__title">Компания</div>
        <div class="mobile-nav__hidden">
            <a href="#">Документация</a>
            <a href="#">Вопросы и ответы</a>
            <a href="#">Техническая поддержка</a>
        </div>
    </div>

    <div class="mobile-nav__tel">
        <a href="tel:88002501001">8 800 250-10-01</a>
    </div>

    <div class="mobile-nav__social">
        Социальные сети
        <div class="mobile-nav__socials">
            <a href="#" target="_blank"><img src="img/fb.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/vk.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/ok.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/tw.svg" alt=""></a>
        </div>
    </div>

    <a href="#" class="btn btn-red">Подключиться</a>
</div>